[2017-05-11 22:47] mccheah commented on #270
@sandflee The primary target here is optionality. Users that are looking to use Kubernetes for their other workloads ought to be able to use the same cluster management framework for their Spark workloads as well. In such scenarios, the user may have already evaluated YARN and Mesos and determined that Kubernetes is preferable over those other cluster managers for reasons that are independent of S

[2017-05-11 23:28] kimoonkim commented on #270
On top of @mccheah's points. My 2 cent is that Spark itself can benefit from more isolation coming from dockers. Many of us have this bad experience like "my Spark job started to crash with `ClassNotFound` exception after someone installed a different version of spark packages". Docker solves this problem fundamentally. This other person will install new packages in a different docker image and af

[2017-05-12 11:10] lins05 commented on #270
+1 @mccheah @kimoonkim

@kimoonkim Spark on mesos supports running driver/executors in docker containers as well. The only downside is the driver/executor containers must all run in host network mode.

[2017-05-12 15:17] kimoonkim commented on #270
@lins05 Ah, good to know. I knew mesos supports dockers, but I didn't know the details.

[2017-05-12 16:17] erikerlandson commented on #268
I have no problem with expecting JAVA_HOME, it's certainly a reasonable requirement for containers running processes on a jvm.

I don't think we should expect custom images to be derived either from our reference spark-kube images, or from alpine.  For example, I needed to install some [nss-wrapper](https://github.com/erikerlandson/openshift-spark/blob/k8s-native/Dockerfile#L43) logic for things t

[2017-05-12 16:39] kimoonkim commented on #268
+1 @erikerlandson

@cvpatel wanted to build a custom image yesterday for some reason and ended up using centos as the base image for a similar need. It would be great to clarify the requirements between docker images and our code.

[2017-05-12 20:55] mccheah commented on #268
Building custom images requires more than just environment variables though - it also requires having the Spark jars in the image and the Java command invoked in the Docker CMD adds the jars to the classpath accordingly. Similarly it has to expect environment variables for classpath elements that are configured by the submission client, specifically when an init-container has downloaded dependenci

[2017-05-12 21:11] kimoonkim commented on #268
@mccheah Good points. Sounds like it could cause a lot of triage and troubleshooting even if we get everything documented correctly.

@cvpatel, can you explain why you had to use a different base image?

When I faced this need for Dockefile before, I used a templates library like jinja2. e.g. Let a python script generate the target Dockerfile using jinja2 off a template Dockerfile.j2. IMO, this is

[2017-05-12 21:47] erikerlandson commented on #268
I would expect in many cases people will be able to derive any customizations by using the reference images as a base.  However, I think it is preferable to not assume it.

Based on my experience so far, I think that the current container expectations are not very hard to satisfy. I found it fairly easy to get my custom containers working.  Keeping the logic synced with the reference versions boil

[2017-05-13 00:59] mccheah commented on #268
I like the idea of Dockerfile templating. While we might not need to commit to a specific templating library and format for the Dockerfiles we include in the Spark distributions, we could nevertheless accomplish a similar effect by having a Dockerfile building guide in our documentation that points to our stock Dockerfiles for reference, and that generally recommends users to follow the logic ther

[2017-05-13 01:03] tnachen commented on #268
I think reducing as much dependency in the Dockerfile is generally favorable, as I mentioned before in another PR the experience I found working on Spark on Mesos is that it becomes a harder situation for us to figure out what was a user's problem as finding out Docker version's vs Spark version's could be challenging (especially if image is tagged generically and cached somewhere).

Very least I

[2017-05-13 01:24] mccheah commented on #268
Generally speaking, if we err on the side of making the commands simple, then we can have the benefit of transparency of the command being in the Dockerfile while being unlikely to break contracts between the Dockerfiles and the submission client. Submission v2 is a step in this direction as it reduces the driver command to [just running a Java process](https://github.com/apache-spark-on-k8s/spark

[2017-05-14 23:06] foxish commented on #267
@ssuchter @varunkatta appears that the process has died again.

[2017-05-15 02:24] tnachen commented on #267
@ssuchter @varunkatta btw I have a CI system that has minikube available donated by the folks from  Applatix, we can use it to run unit tests on PR instead of we're hoping some other managed SaaS to manage this.

[2017-05-15 16:37] cvpatel commented on #267
@foxish I restarted the process last night; seems to be running fine now. It seems like the jenkins process was stuck... Will dive a bit deeper if it continues to have issues.

[2017-05-15 18:52] ssuchter commented on #267
We can give more people logins (so you can restart jobs, etc) We can’t just
open it up publicly. Anyone who is regularly using it, we should just add
them. Matt? Andrew? Anirudh?

Sean

On May 15, 2017 at 9:37:36 AM, Chaitanya Patel (notifications@github.com)
wrote:

@foxish <https://github.com/foxish> I restarted the process last night;
seems to be running fine now. It seems like the jenkins proc

[2017-05-15 19:02] ash211 commented on #267
It would be helpful for Matt and me to have some level of access to the Jenkins jobs.

One thing we're about to open a ticket up for anyway that's would require Jenkins changes is modifying the way tests are run, to be via SBT instead of via Maven to be more compatible with Apache Spark

[2017-05-15 19:12] ssuchter commented on #267
Ok, I’ll make ash211 and mccheah. Can you give me an out-of-band way to
tell you an initial password. (Or send me your public key and I’ll send it
to you encrypted.) Of course you will change the password later.

Sean

On May 15, 2017 at 12:02:21 PM, Andrew Ash (notifications@github.com) wrote:

It would be helpful for Matt and me to have some level of access to the
Jenkins jobs.

One thing we're

[2017-05-15 19:49] ash211 opened #273 "Run tests with SBT instead of Maven"
Currently in this repo we're running tests via Maven:

http://spark-k8s-jenkins.pepperdata.org:8080/job/PR-spark-k8s-unit-tests/
`./build/mvn clean test -Pmesos -Pyarn -Phadoop-2.7 -Pkubernetes -pl core,resource-managers/kubernetes/core -am -Dtest=none -Dsuffixes='^org\.apache\.spark\.(?!SortShuffleSuite$|rdd\.LocalCheckpointSuite$|deploy\.SparkSubmitSuite$|deploy\.StandaloneDynamicAllocationSuite

[2017-05-15 19:59] ash211 commented on #267
(followed up offline)

[2017-05-16 00:50] ash211 commented on #273
Kicked off a build at http://spark-k8s-jenkins.pepperdata.org:8080/job/PR-spark-k8s-unit-tests-SBT-TESTING to Spark's `./dev/run-tests` and see what happens -- I know @kimoonkim attempted this earlier and I forget where we ended up.

[2017-05-16 08:55] foxish commented on #262
Any thoughts on how we should present this documentation? IMO, the markdown files are getting pretty unwieldy, and we should either be generating html documentation from them, or creating html docs.
cc @ash211

[2017-05-16 17:41] foxish commented on #206
@kimoonkim, do you have benchmark data of a similar nature for GKE? Is there a doc containing that?

[2017-05-16 18:03] kimoonkim commented on #206
@foxish

Yes, please see the [GKE experiment section on http://tiny.pepperdata.com/hdfs-k8s-experiment](
https://docs.google.com/document/d/1iS-mJ2blg-wLzgW1frwTIBaa0nyA6anQo3My5je9UtI/edit#heading=h.wk7zmkpjbaj7). It's not using the same TeraValidate that EC2 used. So the result is not as easy to understand. Maybe I should run a new experiment using TeraValidate on GKE too.

[2017-05-16 22:17] mccheah commented on #273
Question again is: what tests should we run? I think we decided in the original Maven build to only run the things that related to Kubernetes in order to cut down the build time by avoiding building things we don't touch.

[2017-05-16 23:25] foxish opened #275 "Unit tests for KubernetesClusterSchedulerBackend"
Might need some refactoring to make this possible
https://mvnrepository.com/artifact/io.fabric8/kubernetes-server-mock is a good starting point for the mock-server.

[2017-05-17 03:11] lins05 opened #276 "Log the driver exit status explicitly"
Currently it's not so obvious to tell when the spark job has succeeded or failed in the output. Compare these two:

[code]

v.s.

[code]

The former one finished successfully while the latter failed. But you need to look very hard to locate the value of `phase: ` to recognize that.

I suggest add the exit status into this line, e.g.:
[code]

Or

[code]

[2017-05-17 16:46] foxish commented on #265
Closing, as we've resolved this and the PR is merged.

[2017-05-17 16:46] #265 closed, assigned to nobody

[2017-05-17 16:47] foxish opened #277 "Dynamic allocation: shuffle files should be cleaned up by the shuffle server"
Currently the shuffle files grow unbounded, we need something similar to the mechanism that Mesos has to clean up shuffle files after a job ends.
Additionally investigate isolation in the form of different `hostpath` volumes for each job.

[2017-05-17 17:24] varunkatta commented on #253
There is PR in the Kubernetes ansible project for this - https://github.com/apache-spark-on-k8s/ansible/pull/4

[2017-05-17 19:01] ash211 commented on #276
Looks like this would be a great change -- @lins05 can you send a PR to do this?

[2017-05-17 22:01] ash211 opened #279 "Jenkins task to restart minikube"
Occasionally minikube gets stuck, and it would be nice to have more people able to un-stuck the minikube.

Could we create a Jenkins project that restarts minikube that could be manually triggered when needed?

cc @ssuchter

[2017-05-17 22:09] ash211 opened #280 "More throughput for minikube integration tests"
Sometimes we get several integration tests backed up on the minikube resource in the Pepperdata Jenkins instance, like in this screenshot:
![screen shot 2017-05-17 at 3 03 14 pm](https://cloud.githubusercontent.com/assets/357170/26178250/1435e414-3b12-11e7-94ea-9de9c5ac87b8.png)

This happens because unit tests and full builds can be parallelized, but integration tests have to be serialized on the

[2017-05-17 22:10] mccheah commented on #279
I think the tests were built assuming that Minikube instances aren't shared. Sharing them would cause collisions with Docker images that are built, etc.

[2017-05-17 22:12] ash211 commented on #267
@foxish I think we can close this now -- the original issue seemed like a one-off and we're taking steps to reduce breakage in CI infra via #279 and #280

[2017-05-17 22:12] #267 closed, assigned to nobody

[2017-05-17 22:16] ash211 commented on #279
I'm not suggesting sharing minikube instances here, though in #280 I suggest having multiple minikube instances available for integration tests to grab and use (one at a time), rather than one minikube instance that can only be used by one test at a time.

[2017-05-17 23:18] lins05 commented on #276
Sure, i'll do that.

On Thu, May 18, 2017 at 3:01 AM Andrew Ash <notifications@github.com> wrote:

[2017-05-18 05:25] #225 closed, assigned to nobody

[2017-05-18 22:06] ash211 commented on #273
Maybe the SBT tests would catch checkstyle issues like unused identifiers: https://github.com/apache-spark-on-k8s/spark/pull/281#discussion_r117361047

[2017-05-19 18:13] mccheah opened #285 "Remove V1 Submission and replace with V2 only"
Currently we have been developing the V2 submission logic in separate files so that we could build the feature incrementally. Now that we've built everything in version 2 of submission that was available to us in version 1 of submission, we should remove all of the v1 submission code and make spark-submit use version 2 of the submission.

This involves:
1. Change [this line](https://github.com/apa

[2017-05-20 16:50] erikerlandson commented on #285
If we want to enable some quick-and-dirty early testing, can the new "V2" parameters get a fast writeup on this issue?

[2017-05-22 15:47] foxish opened #287 "Clean up shuffle files after completion of job"
The plan here is to use [subpath](https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath) and a mechanism to register the driver with the shuffle service. The shuffle service would create the subdirectories for a specific SparkJob.

[2017-05-22 15:52] erikerlandson commented on #287
@foxish what kind of registration mechanism do you have in mind?

[2017-05-22 16:10] foxish commented on #287
Similar to that used in https://github.com/apache/spark/blob/master/resource-managers/mesos/src/main/scala/org/apache/spark/deploy/mesos/MesosExternalShuffleService.scala

I just prototyped a hostPath & subPath mechanism in k8s and will try and fit it into the above.

[2017-05-22 18:03] foxish opened #288 "Consider switching driver to be StatefulSet of size 1 instead of pod"
This would give us resilience against node failure, and the automatic restarting of the driver type of behavior that long-running streaming jobs often desire.
It should just be a simple switch over if we choose to do this, but it does need some testing.

/cc @apache-spark-on-k8s/contributors

[2017-05-22 19:24] kimoonkim commented on #288
+1. I can't think of any downside. The executor command lines will have to use the DNS name of the driver coming from the `StatefulSet`. That should be doable.

[2017-05-22 19:31] varunkatta commented on #288
+1 for a more resilient driver and taking support from framework for relaunches during node failures.

[2017-05-22 19:45] mccheah commented on #288
Can we use a ReplicationController or ReplicaSet? If all we want is pod restarts we should use the primitive that has only that, as opposed to StatefulSets which seem to have more things attached.

[2017-05-22 19:58] erikerlandson commented on #288
If it's _purely_ restarts, the pod can have a restart policy.  Can spark leverage stateful-set hooks to restore more state?

[2017-05-22 20:02] ash211 commented on #288
We probably could store state about what tasks have finished vs not and resume a job mid-run, rather than restarting from the beginning, but that's a much bigger change.

I'd lean towards making the smallest change to support the driver pod restart, and maybe that's to use a `ReplicaSet`

[2017-05-22 20:03] kimoonkim commented on #288
If the driver wants to store its state in persistent volume so it can be restored upon restart, then `StatefulSet` is probably the right mechanism.

[2017-05-22 20:12] mccheah commented on #288
Yet thinking about this from an API point of view, it would be difficult for spark-submit to support persistent volumes to the driver pod. I think stateful driver support is something that requires a decent amount of specification and design discussion in and of itself. We should focus on the minimum set of requirements which should be to allow the driver pod to restart upon failure, and focus on

[2017-05-22 20:19] erikerlandson commented on #288
I agree that this warrants a design doc.  Switching from pod to stateful-set or replica-set might be straightforward in the code, but making use of it is less obvious

[2017-05-22 21:23] foxish commented on #288
StatefulSet has one important property which is that there is guaranteed to be at-most-N replicas, where N is the size specified. The other abstractions don't have this particular property and having more than 1 driver pod at a time would be undesirable.

The pod restart policy is something that the node honors (kubelet in specific), but if a node is lost, there is no entity that will restart that

[2017-05-22 23:04] mccheah commented on #288
@foxish what are the cases where ReplicaSet and ReplicationController would have more than N replicas? I know rolling update is one of them but in that case it's probably expected to have multiple drivers.

[2017-05-22 23:16] foxish commented on #288
The case is detailed in [this doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/pod-safety.md#guarantees-provided-by-replica-sets-and-replication-controllers). One case would be a network partition. RC/RS would favor availability and create copies on a new node without really verifying if the previously running instance is dead, or simply partitioned and alive.

[2017-05-22 23:18] ash211 commented on #276
Included in https://github.com/apache-spark-on-k8s/spark/pull/283

[2017-05-22 23:18] #276 closed, assigned to nobody

[2017-05-22 23:19] ash211 commented on #61
Effectively done now, though we didn't announce the first release on the mailing list.  I propose we wait until the second version is released pre-Spark Summit and send a release announcement for that version instead.

[2017-05-22 23:19] #61 closed, assigned to nobody

[2017-05-22 23:20] ash211 commented on #167
This is coming in as part of the V2 submission process, with the cutover PR happening in https://github.com/apache-spark-on-k8s/spark/pull/286 after a series of PRs from Matt earlier.

Closing this issue as its purpose was to discuss the design, which we've now settled on.

[2017-05-22 23:20] #167 closed, assigned to nobody

[2017-05-22 23:22] ash211 opened #289 "Simplify the way docker images are specified"
Maybe as a repo/path and version with the image names `spark-driver`, `spark-executor`, and `spark-init` filled in.

See https://github.com/apache-spark-on-k8s/spark/pull/286#discussion_r117858909

[2017-05-22 23:25] gdearment commented on #288
While StatefulSet's guarantee around at-most-N replicas seems desirable however, I would be hesitant to want to allow any spark job the ability of claiming a persisted volume claim, as it would introduce a number of additional failure modes to launching new jobs (the availability of PVs, the ability to allocate a new one). Additionally, it would limit a kubernetes administrator from restricting th

[2017-05-22 23:30] erikerlandson commented on #288
I like the idea of improving robustness.  I do want to be careful about setting user expectations around the spark driver state reconstruction.

[2017-05-22 23:31] foxish commented on #288
PVs and PVCs aren't mandatory parts of a StatefulSet, nor is the headless service (stable DNS identity). Creating a StatefulSet without a `spec.VolumeClaimTemplates` field should not create any PVs/PVCs on the user's behalf.

[2017-05-22 23:34] foxish commented on #288
If we want to deliberate more and talk through the design, we can revisit this after Spark Summit when we potentially (hopefully) have a streaming use-case that has more of a need for these recovery semantics. It is an implementation detail, so, it shouldn't be particularly hard to change later. Just brought up the issue for discussion at this time.

[2017-05-22 23:38] foxish commented on #61
+1

[2017-05-22 23:54] lins05 commented on #288
IIUC the current spark driver doesn't support state recovery when the driver process gets crashed. See my comments in https://github.com/apache/spark/pull/17750#issuecomment-301124320 .

For convenience I'll quote it here:

[code]

[2017-05-23 00:14] foxish commented on #288
@lins05 I see. It seems however like the spark-streaming case does have a way to do driver checkpointing using a WAL. https://databricks.com/blog/2015/01/15/improved-driver-fault-tolerance-and-zero-data-loss-in-spark-streaming.html talks about this. Would you happen to know if this is currently supported on other cluster managers (YARN/Mesos)?

[2017-05-23 00:33] mccheah commented on #233
This is doable now but it requires setting `spark.kubernetes.authenticate.driver.mounted.caCertFile` which we don't document externally. The idea is that this value is usually set by the submission client when it mounts the CA certificate as a Kubernetes secret, but if the value is provided by the user in specific scenarios then the submission client doesn't mount the secret and uses the provided

[2017-05-23 00:33] #233 closed, assigned to nobody

[2017-05-23 00:56] ash211 commented on #213
Done in V2 -- see https://github.com/apache-spark-on-k8s/spark/blob/408c65f65c569a63508ada134139e4d5b186cd90/resource-managers/kubernetes/integration-tests/src/test/scala/org/apache/spark/deploy/kubernetes/integrationtest/KubernetesV2Suite.scala#L129

[2017-05-23 00:56] #213 closed, assigned to nobody

[2017-05-23 01:04] lins05 commented on #288
@foxish Ah, i was not aware not that. So spark streaming does support recover most of the information from checkpointed data. Guess I need to read more about [the code](https://github.com/apache/spark/blob/v2.1.1/streaming/src/main/scala/org/apache/spark/streaming/Checkpoint.scala#L35) and [the doc](https://spark.apache.org/docs/latest/streaming-programming-guide.html#checkpointing) to learn more

[2017-05-23 03:22] foxish commented on #287
My thought for doing the actual clean-up is the [pre-stop hook](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-delivery-guarantees) which should let us execute an arbitrary cleanup script. The only part that our external shuffle service really needs to do, is to create a subdirectory for the shuffle files of each job.

Once the subdirectory is created, we use the [`

[2017-05-23 18:01] kimoonkim opened #290 "HDFS data locality has a bug in case cluster node names are not full host names"
With #216, the Spark driver sends tasks to right executors with tasks' HDFS data on local disks. This is done in two steps:
1. We map executor pod IPs to cluster node names that executor pods run on.
2. And compare those cluster node names with host names that data node daemons run on.

Step (2) has a minor bug in case cluster node names are not fully qualified host names. e.g. The cluster node na

[2017-05-23 19:58] mccheah opened #292 "Copy added Spark files to the working directory of the driver and executors"
Spark's contract is that files sent to a Spark job via `spark.files` are in the working directory of the driver and executor processes. The first version of the driver took the files sent to the submission server and wrote them into the working directory before starting the driver JVM. Submission v2 does not do this.

There's a few ways to accomplish this in the new architecture. The tricky part i

[2017-05-23 19:59] mccheah opened #293 "Remove leftover V1 constants from constants.scala"

[2017-05-23 23:21] ash211 opened #295 "Use ln instead of cp in the driver's Dockerfile"
Right now we copy `spark.files` to the driver's working directory with `cp`, which copies the bytes on disk.  Possibly we could use `ln` to speed up this copy and use fewer bytes on disk (and save time on driver launch).

This is probably only a concern with large `spark.files` so deferring until this becomes an issue for someone.

See https://github.com/apache-spark-on-k8s/spark/pull/294/files#r1

[2017-05-23 23:38] #292 closed, assigned to nobody

[2017-05-23 23:44] ash211 commented on #273
We need to enable running SBT tests on the kubernetes module via https://github.com/palantir/spark/pull/191/commits/de3e7727ff3ddb6c07052e3cc187e4bf6b10bc66

Also running `./dev/run-tests` runs `./dev/check-license` which would've caught https://github.com/apache-spark-on-k8s/spark/pull/296

[2017-05-24 20:06] ash211 opened #298 "Missing Dockerfiles in dist"
https://github.com/apache-spark-on-k8s/spark/blob/38814043070bfdd522c2c9350b9411b943888cee/dev/make-distribution.sh#L178

needs to copy the other Dockerfiles into the dist besides just driver and executor:

[code]

[2017-05-24 22:02] dansanduleac opened #299 "Add conf to allow setting environment variables on the driver"

[2017-05-24 23:21] ash211 opened #300 "Fail fast if unable to connect to apiserver"
We should do an availability check to the apiserver as soon as we create the kubernetesClient

https://github.com/apache-spark-on-k8s/spark/blob/38814043070bfdd522c2c9350b9411b943888cee/resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/kubernetes/submit/Client.scala#L90

This would allow us to give a better error message when unable to connect to the apiserver.

Otherwise it

[2017-05-25 07:01] foxish opened #302 "Restart policy on driver pod"
The driver pod restarts after completion, because the RestartPolicy=Never is unset on the driver.

[2017-05-25 07:01] foxish commented on #302
cc @apache-spark-on-k8s/contributors

[2017-05-25 11:33] foxish opened #304 "Executors tab not accessible from driver UI"
I'm accessing the driver UI after running `kubectl proxy`, at URLs that look like:
http://localhost:8080/api/v1/namespaces/default/pods/<driver-pod-name>:4040/proxy
All tabs except `Executors` works. The Executors tab shows `<h3>unauthorized</h3>`.

I suspect it may be rejecting the embedding of the executor page based on the same-origin-policy that may
need to specified through `spark.ui.allowFra

[2017-05-25 11:34] foxish commented on #304
cc @lins05 @ash211

[2017-05-25 17:43] #302 closed, assigned to nobody

[2017-05-25 22:08] foxish opened #306 "Using Persistent Volumes with file staging server"
We should include some guidance on how this can be done I think. EmptyDir volumes run into limits rather quickly.

[2017-05-26 05:13] #298 closed, assigned to nobody

[2017-05-26 06:29] #290 closed, assigned to nobody

[2017-05-26 18:21] foxish commented on #304
@lins05 @kimoonkim @mccheah will you have time to look at this?

[2017-05-26 18:29] mccheah opened #309 "Validate application names comply with Kubernetes restrictions"
Suppose a user creates an application and sets their application name to something long but below the length limit for pod names. However, when we generate the name of the pod, we [append a timestamp to the application name](https://github.com/apache-spark-on-k8s/spark/blob/d31d81aaf513ee0530dbfa4be066d29d879cbf5c/resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/kubernetes/

[2017-05-26 18:37] ash211 commented on #309
Related to https://github.com/apache-spark-on-k8s/spark/issues/309

I might also add we had an application submitting to YARN that had an `_` in the Spark app name.  When porting that application to k8s we've had to remove the `_` from the name.  Ideally there wouldn't be this compat break when porting apps from YARN to k8s as the app names may be hardcoded.

[2017-05-26 18:45] ash211 commented on #252
Fixed in linked PR

[2017-05-26 18:45] #252 closed, assigned to nobody

[2017-05-26 18:48] ash211 commented on #209
I think you may have been running this from the wrong directory and not using the `-f` flag:

[code]

https://github.com/apache-spark-on-k8s/spark/blob/branch-2.1-kubernetes/resource-managers/kubernetes/docker-minimal-bundle/src/main/docker/driver/Dockerfile#L22

@hustcat is that enough docs or do you think more are needed?

[2017-05-26 18:50] mccheah opened #310 "Validate the driver pod begins running before exiting spark-submit"
In fire-and-forget mode, we should check that the driver started running before exiting. We should also report on the driver's status if it fails to run.

[2017-05-26 19:07] ash211 opened #311 "Output request logs from resource-staging-server pod"
The logs from a staging server pod are very sparse -- we should put request logs here so there's some indication that the staging server pod is active and being used.

[code]

I can't find request logs in any file in the pod either.

[2017-05-26 20:08] ash211 commented on #304
Seems like a similar problem as https://github.com/apache-spark-on-k8s/spark/pull/95 -- maybe when running through a `kubectl proxy` those the `k8sProxyPattern` doesn't match?

[2017-05-27 06:56] FANNG1 commented on #270
thanks all :)

[2017-05-27 07:11] ash211 commented on #270
Hope that was useful @sandflee !

The big value-add I'm interested in is the isolation between users on the same cluster by virtue of the containerized separation.  This prevents e.g. a rogue application from stealing credentials from a neighbor job on the same server.

[2017-05-27 07:11] #270 closed, assigned to nobody

[2017-05-27 09:22] FANNG1 opened #313 "allow user to set KUBERNETES_MASTER_INTERNAL_URL"
now KUBERNETES_MASTER_INTERNAL_URL is kubernetes.default.svc, if the k8s cluster not using dns(such as using hack/local-up-cluster.sh), the app will fail.

[2017-05-27 10:31] FANNG1 commented on #313
I could set KUBE_ENABLE_CLUSTER_DNS to enable dns in hack/local-up-cluster.sh, but I also need some work, for our machine couldn't access gcr.io

[2017-05-28 21:30] foxish commented on #304
Looks like a different problem here. With the v1 server, we used to create a service for the UI that we no longer create. The unauthorized message is coming from the K8s side and not the spark side. I'm not sure why, but it could be some component stripping out the proxy authentication headers.

The problem doesn't exist when the UI is accessed via the service + APIServer proxy. Considering adding

[2017-05-30 18:25] kimoonkim opened #315 "Use nodeAffinity to launch executors on cluster nodes that benefit from HDFS data locality"
@foxish @ash211

This is a sub-issue of the HDFS data locality issue #206.

When using HDFS, the Spark driver sends tasks to particular executors that have tasks' HDFS data on local disks. (Implemented in #216)

To increase the chance of benefitting from data locality, the driver should also launch executors on cluster nodes that have tasks' HDFS data in the first place if possible.

There are a f

[2017-05-30 20:40] ash211 opened #317 "Use tini to prevent JVM as pid1 errors"
https://github.com/krallin/tini

quick summary is running JVMs as pid1 in dockerfiles cause problems -- search for `Caused by: com.sun.tools.attach.AttachNotSupportedException: Unable to get pid of LinuxThreads manager thread at sun.tools.attach.LinuxVirtualMachine.<init>(LinuxVirtualMachine.java:86)` to see examples

[2017-05-31 03:24] duyanghao opened #318 "badMessage: java.lang.IllegalStateException: too much data after closed for HttpChannelOverHttp@2830dea8{r=1,c=false,a=IDLE,uri=}"
sprak submit logs:
[code]

spark driver logs:
[code]

jars file:
[code]

And if i submit file:
[code]

i will succeed.

so, i guess the bug above has something to do with file size.

[2017-05-31 12:54] foxish commented on #277
Duplicate of https://github.com/apache-spark-on-k8s/spark/issues/287

[2017-05-31 12:54] #277 closed, assigned to nobody

[2017-05-31 17:29] mccheah commented on #318
This is using submission v1 which has now been replaced by an entirely different submission workflow. Can you take a look at the updated documentation, pull from branch-2.1-kubernetes, and try with the new submission workflow? The resource staging server streams the data to disk directly instead of holding it in memory, so that should help this case.

[2017-05-31 19:42] ash211 commented on #317
The full stacktrace of what we were seeing is available here: https://github.com/palantir/http-remoting/issues/403

Here's some more analysis I did internally on the stacktrace:

[2017-05-31 21:57] ash211 opened #322 "Support annotations and labels containing = and , characters"
https://github.com/apache-spark-on-k8s/spark/pull/321#discussion_r119480846

[2017-05-31 22:00] ash211 opened #323 "Fewer layers in docker images"
https://github.com/apache-spark-on-k8s/spark/pull/320#issuecomment-305323096

Basically, don't repeatedly use RUN

[2017-05-31 22:01] #317 closed, assigned to nobody

[2017-06-01 07:12] duyanghao commented on #318
After googling around,the bug above may has something to do with jetty
[Setting Max Form Size](http://www.eclipse.org/jetty/documentation/current/setting-form-size.html) in spark.But i still don't know how to make changes to that setting in spark.

Is the submission v2 different with submission v1 in the jetty usage in spark?especially in `Setting Max Form Size`?

[2017-06-01 07:20] johscheuer commented on #323
Hi, I stumbled over this issue (I want to learn more about Spark on Kubernetes) and wanted to fix this issue. After I looked into the Dockerfiles I found out that there are many repetitions in the Docker images maybe it would be a good move to create a `base-image` ?

[2017-06-01 18:52] mccheah commented on #318
Submission v2 streams the jars and the files to the resource staging server, as opposed to using a single JSON blob all at once. We also use multipart form data uploads there.

[2017-06-01 18:54] mccheah commented on #323
Using a base image would be helpful - can you push something for review? `SparkDockerImageBuilder` would need changes as well.

[2017-06-01 19:27] ash211 commented on #323
@johscheuer thanks for taking an interest in this project!

We can do this by merging the RUN commands in each separate Dockerfile, and then later creating a `base-image`, or jumping straight to creating the base image.

If you're interested in contributing to this project with a PR I'd be happy to help code review!

[2017-06-02 18:59] #287 closed, assigned to nobody

[2017-06-02 23:15] ash211 opened #326 "Issues with openjdk:8-alpine as the base image for JVM"
FYI for others, we saw the following issue when running our application with the stock Spark `Dockerfiles` that are built on `openjdk:8-alpine`

[code]

There's some activity online around tracking down issues between the OpenJDK and the version of `libc` used in the alpine base images -- `musl`.  It seems like `musl` isn't fully compatible with what the OpenJDK expects

We fixed this by switching

[2017-06-03 03:25] #237 closed, assigned to nobody

[2017-06-05 02:41] hustcat commented on #209
Yeah, it's enough:)

[2017-06-05 02:41] #209 closed, assigned to nobody

[2017-06-05 09:58] duyanghao commented on #318
@mccheah as you said,i pull from branch-2.1-kubernetes, and try with the new submission workflow,but questions below appear:

question 1:
Seen from kubernetes pods,the driver resource configuration of `--conf spark.driver.memory` and `--conf spark.driver.cores` has actually been invalid.

question 2:
If i start spark with pars `--conf spark.kubernetes.driver.pod.name=xxx` , the driver pod name is

[2017-06-05 22:12] ash211 opened #330 "Generate pod labels as UUIDs rather than from Spark app name"
We saw exceptions of this form when running an app:

`
Exception in thread "main" io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: POST at: https://example.com/apiserver/api/v1/namespaces/mynamespace/pods. Message: Pod "REDACTED" is invalid: [metadata.name: Invalid value: "REDACTED": must match the regex [a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)* (e.g

[2017-06-05 22:22] kimoonkim commented on #330
+1. I saw also this error a while ago. K8s label syntax is too stringent. I think the suggested approach is better than trying to normalize widely varying app names to fit into the label syntax.

[2017-06-07 07:40] duyanghao commented on #318
@mccheah when i submit with submission v2 workflow,the error below appear:

[code]

[2017-06-08 03:59] mccheah opened #334 "Driver pod is not respecting spark.driver.cores and spark.driver.memory"
Missed porting this over from submission v1.

[2017-06-08 04:14] mccheah opened #335 "Discuss naming schemes for pods, config maps, and secrets that are created for the job"
Currently we allow setting `spark.app.name` which will set the application name that the other resource names are derived from. However, we allow setting the driver pod's name directly, but if the driver pod's name is set, the executor pod names are still derived from the Spark application name. This could make naming inconsistent, as observed in #318.

Separately, however, we could take a step ba

[2017-06-08 04:15] mccheah commented on #335
@hustcat - I'm curious to know your use case for #258. In what scenario was it important that the driver pod's name be given a particular value?

[2017-06-08 04:34] mccheah opened #336 "Guide on creating custom Spark docker images"
This should be somewhere in the documentation.

[2017-06-08 04:38] mccheah opened #337 "Update proposal document on SPARK-18278"
There's probably some details that are out of date on the document that's attached to the ticket. We should update the proposal to include the new submission architecture and the CustomResource support.

[2017-06-08 04:50] mccheah commented on #255
Done

[2017-06-08 04:50] #255 closed, assigned to nobody

[2017-06-08 04:50] mccheah commented on #285
This is done.

[2017-06-08 04:50] #285 closed, assigned to nobody

[2017-06-08 04:51] mccheah commented on #238
This is done.

[2017-06-08 04:51] #238 closed, assigned to nobody

[2017-06-08 05:19] mccheah commented on #318
@duyanghao thanks a lot for the feedback and questions. We ought to make some of these details clearer in our documentation, and this brought a number of issues to light that I've since filed tickets for.

This is correct - looks like we failed to port over the driver resource requests and limits from submission v1. Filed as #334.

Can you set the application name via `spark.app.name`? That will m

[2017-06-08 05:21] mccheah commented on #318
@duyanghao regarding your stack trace, it would seem that the resource staging server URI that was provided was not reachable. How did you start your resource staging server? Are you using the provided YML in the distribution?

[2017-06-08 05:29] mccheah opened #338 "Bypass init-containers if `spark.jars` and `spark.files` is empty or only has `local://` URIs"
If all dependencies are installed in the Docker images, the init-container will do no work and so we shouldn't run it.

[2017-06-08 05:31] mccheah opened #339 "Fail submission if the resource staging server URI isn't present but local files are submitted"
Currently we don't validate this which could lead to confusing behavior.

[2017-06-08 05:32] mccheah commented on #318
It's also worth noting that the resource staging server is only required if any application dependencies are being sent from the user's local disk. One could conceive of a production environment where all Spark applications are bundled into Docker images. In such scenarios the resource staging server does not have to be deployed, hence why the URL is optional. The init-container will still always

[2017-06-08 09:50] duyanghao commented on #318
@mccheah yeah,i am using the provided `conf/kubernetes-resource-staging-server.yaml`,and start resource staging server with command: `kubectl create -f conf/kubernetes-resource-staging-server.yaml`.

when i submit the little file `spark-examples-1.0-SNAPSHOT.jar`,it will succeed,but it will fail with the error below sometimes when i submit the big file `tsp_rt_v2-1.0.0-jar-with-dependencies.jar`

[2017-06-08 10:05] duyanghao commented on #318
@mccheah For local test,i drop the usage of `resource staging server` and build the custom driver and executor image with the jar dependencies stored in `/opt/spark/examples/jars/tsp_rt_v2-1.0.0-jar-with-dependencies.jar`, and when i submit with command `local:///opt/spark/examples/jars/tsp_rt_v2-1.0.0-jar-with-dependencies.jar`,error happens like below:

[code]

executor container error log:
[cod

[2017-06-08 10:34] duyanghao commented on #318
In my tests, there is no stable way(including `local custom image` and `resource staging server`) for submitting application with big dependencies(both failed with different strange errors).hope that there is one stable way to do it,after all,it is the prerequisite and foundation of spark application.

[2017-06-08 12:24] duyanghao commented on #318
@mccheah I have created a PR to support specify CPU cores and Memory restricts for driver.Look at [here](https://github.com/apache-spark-on-k8s/spark/pull/340)

[2017-06-08 15:39] kimoonkim commented on #334
+1. Noticed this a few days ago myself. I'll be happy to write a PR if we don't have a fix yet.

[2017-06-08 16:43] mccheah commented on #318
@duyanghao it's possible that with large files, we're hitting timeouts on the upload with the resource staging server. That wouldn't be too surprising since we don't set timeouts on the Retrofit client, so it's likely using some default. Keep in mind that this is an HTTP upload so performance would reflect accordingly, hence why I suggested the custom Docker image.

Can you try instead to mount yo

[2017-06-08 16:45] mccheah commented on #318
For the above, the jar needs to be on both the driver and executor images, at that location.

[2017-06-08 16:53] foxish commented on #318
I have seen this before when the spark core version is expecting a different message, as opposed to the message we send from `KubernetesSchedulerBackend`. We modified that message for the shuffle service, so, the reason I can think of is the fat jar with dependencies that you built includes a conflicting version of spark libs.

[2017-06-08 17:19] ash211 commented on #334
Fixed in https://github.com/apache-spark-on-k8s/spark/pull/340

[2017-06-08 17:19] #334 closed, assigned to nobody

[2017-06-08 18:20] erikerlandson commented on #318
Related: generally good practice to shade Spark in uber jar assemblies, for example in sbt using `% Provided` modifier: https://github.com/erikerlandson/spark-kafka-sink/blob/master/build.sbt#L22

Other libs may also be shaded in some cases to reduce the jar size further:
https://github.com/erikerlandson/spark-kafka-sink/blob/master/build.sbt#L34

[2017-06-08 19:40] #330 closed, assigned to nobody

[2017-06-08 21:24] erikerlandson commented on #335
I think removing control of pod name is plausible.  That may accentuate the need for users (and apps) to be able to do discovery - figure out which of some set of running spark apps they want.   Maybe the ability to add labels meets that requirement?

[2017-06-08 21:28] mccheah commented on #335
Users already have the ability to add custom labels to the driver and executors. I would expect most discovery mechanisms to use those.

[2017-06-08 21:36] foxish commented on #335
I agree with this in the context of naming every component, except the driver, (or whatever top-level resource we add, like the CustomResource). There is value in deterministically naming that top-level component, because the name acts as a lock, and sometimes you want to ensure there is exactly one of that component running without having to run discovery.

[2017-06-08 21:38] mccheah commented on #335
Maybe the application name should itself always be the driver pod name then, and we shouldn't be trying to generate the unique identifier with the timestamp for the user?

[2017-06-08 21:41] foxish commented on #335
Yeah, that sounds reasonable to me, if supplemented with an option to generate a name also. Kubernetes components do this using [GenerateName](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#idempotency).

[2017-06-08 22:33] #323 closed, assigned to nobody

[2017-06-09 00:49] ash211 commented on #234
Confirmed that this works in V2 submission process

[2017-06-09 00:49] #234 closed, assigned to nobody

[2017-06-09 01:02] ash211 commented on #130
@kimoonkim as you've been testing the HDFS locality changes recently, are you passing the `*-site.xml` config files into Spark in some way?  Are you passing all the configuration as `spark.hadoop.*`, or is there no required config in the clusters you're testing?

[2017-06-09 01:28] kimoonkim commented on #130
@ash211 Good question. For the HDFS node-level locality tests so far, Spark only needed the namenode address. I passed it as `spark.hadoop.fs.defaultFS`.

But we plan to work on the rack locality part soon, which involves more. Spark driver needs several config keys for the rack topology plugin. It also needs to access a script or text file that topology plugins refer to. (There are multiple topol

[2017-06-09 01:30] mccheah commented on #130
We can build a ConfigMap instance, or allow the user to specify an existing one, which contains the `core-site.xml` that the job should use. Then, based on the path we mount the files to, we can set the `HADOOP_CONF_DIR` environment variable accordingly on our containers.

Depending on whether or not we expect `core-site.xml` to contain sensitive data, we might want to use a Secret instead.

[2017-06-09 01:36] duyanghao commented on #318
@mccheah @foxish i will try local custom Docker image again with your suggestions.

[2017-06-09 02:30] duyanghao commented on #335
@mccheah we can use `spark.kubernetes.driver.pod.name` par as the name of driver pod name as well as label:`spark-app-id` value of both driver and executor pods,in this way,if i set par `--conf spark.kubernetes.driver.pod.name=xxx`,then the driver pod name will be `xxx` with label:`spark-app-id`=`xxx`,and executors pod name will be `xxx-exec-1` with label:`spark-app-id`=`xxx`.
For examples,if i su

[2017-06-09 09:18] duyanghao commented on #318
@mccheah @foxish  Thanks you for your advice,i rebuild jar with the latest spark libs,and it works now.

And i will still follow this issue as there are still many problems for `resource staging server`.

[2017-06-09 15:30] duyanghao commented on #318
@mccheah maybe not related to this issue,i am curious about the support for Python application.Is there any plan for this part?Anyway,i have tried to make it worked recently and had already a demo.Hope for any progress!!!

[2017-06-09 15:33] duyanghao commented on #318
@mccheah maybe not related to this issue,i am curious about the support for Python application.Is there any plan for this part?Anyway,i have tried to make it worked recently and already had  a demo.

[2017-06-09 16:50] erikerlandson commented on #318
@duyanghao python is not yet supported but there is a PR in the works so hopefully soon

[2017-06-09 16:51] mccheah commented on #335
@duyanghao can you achieve a similar goal by setting a value in `spark.kubernetes.driver.labels` and `spark.kubernetes.executor.labels`, such that they both have a label with the same key and same value?

`bin/spark-submit --conf spark.kubernetes.driver.labels=mylabel1=mylabel1value --conf spark.kubernetes.executor.labels=mylabel1=mylabel1value`

Then you can search for all pods with `mylabel=myla

[2017-06-09 16:55] mccheah opened #342 "Resource staging server errors with large files"
The new submission workflow relies on http uploads and downloads when using the resource staging server. This can run into problems when uploading and downloading large files.

cc @duyanghao

Based on #318

Stack trace reported when using large files:

[code]

Looks like we're timing out here and might want to tweak the retrofit client settings, or else make it configurable. But it also might be a

[2017-06-09 16:55] mccheah commented on #318
@duyanghao I think we can close this issue and follow up on subsequent issues for the more precise matters you flagged. I opened #342 to track supporting large files, or what the proper messaging should be there. Does that sound ok to you?

[2017-06-09 16:57] ash211 commented on #342
To be fair the old submission workflow also used HTTP when uploading and downloading right?

[2017-06-09 16:58] mccheah commented on #342
It did, but we ran into the same issues there as well - if not worse because it ran out of heap, which is what #318 reported in the first place.

I'm not sure how much we should be optimizing on large files however. This is an HTTP upload and download, which is inherently non-distributed and will inevitably hit limits, not to mention the limiting factor of the speed of the network. We do gzip-comp

[2017-06-09 17:17] ash211 commented on #342
Could add a warning log for uploads larger than a threshold

[2017-06-09 18:08] foxish commented on #337
I'll do this item in the shared public doc. There's quite a bit of updating to be done.

[2017-06-09 18:34] mccheah opened #343 "Support trustStore JKS files for TLS connections to the API server"
The Fabric8 client supports using trustStore JKS files to connect to the API server over TLS. We should allow this to be an option. This requires upgrading the fabric8 client.

[2017-06-10 01:27] duyanghao commented on #318
@mccheah That's ok. And thank you for the help.

@erikerlandson could you give the links of the PR for the python support,maybe there is something i can do.

[2017-06-10 01:28] #318 closed, assigned to nobody

[2017-06-10 20:29] erikerlandson commented on #342
I'd second a documentation-based solution.  Logging a warning message seems useful too, especially if size can be known or estimated after gzip.

[2017-06-14 01:08] #315 closed, assigned to nobody

[2017-06-14 01:14] ash211 commented on #206
@kimoonkim with the latest PR merged (executor locality) what is left to do in this umbrella issue?

[2017-06-14 04:12] ash211 commented on #322
Hit this today with annotation values containing `,`

[2017-06-14 05:08] ash211 opened #345 "Rebase onto Apache Spark 2.2.0"
When it's released (in RC voting as of Jun 14)

Known things we'll need to accommodate:
- `ExternalShuffleClient` constructor [changed](https://github.com/apache/spark/commit/8f3f73abc1fe62496722476460c174af0250e3fe#diff-b5e8b9a95773c9bdab767b8979192f6aR62) (cc @foxish)
- `TransportClientFactory.createClient()` now throws an [additional checked exception](https://github.com/apache/spark/commit/1c4

[2017-06-14 05:19] ash211 commented on #345
Please ping me when doing the migration, I have a commit that accommodates these two Spark-internal API breaks

[2017-06-14 16:15] kimoonkim commented on #206
@ash211 The only remaining item is rack locality support. I am writing a PR. After that, I think we can close this issue!

[2017-06-14 21:03] #322 closed, assigned to nobody

[2017-06-15 08:41] chenchun commented on #338
+1 for this. Adding an init container may slow down pod launching. What about making driver container download all dependencies itself ?

[2017-06-15 18:35] mccheah commented on #338
@chenchun the preferable design is to use the init-contianer because it allows the driver container to be completely generic. Or to put it another way:

1) Users who write custom Docker images don't need to call a specific class, but can just run the application main class directly,
2) When we write multiple driver runtime implementations (e.g. Python) they can all share the same init-container wi

[2017-06-16 17:54] kimoonkim opened #349 "Support HDFS rack locality"
This is likely the last sub-item of HDFS locality umbrella issue #206.

When using HDFS, Spark driver looks up which rack a given datanode or executor belongs to.  So that it sends tasks to right executors that can read task data from datanodes on same racks. (This happens as a fallback when node locality fails). To support rack locality, Spark driver loads a configurable topology plugin into its

[2017-06-19 10:25] FANNG1 opened #352 "K8s jobs slow due to hard cpu limits"
run a simple wordCount app, comparing the running time on yarn and k8s.  jobs on k8s are much slower,
1.  some time are wasted on pod start(10s more)
2.  the map task execute time (espically the first task) also takes much more time than app on yarn(6s more). notice that k8s jobs takes  more gc time,  Is anyone else encounter this? and known why?

[2017-06-19 10:26] FANNG1 commented on #352
some configure:

spark.eventLog.dir hdfs://10.196.132.104:49000/spark/eventlog
spark.history.fs.logDirectory hdfs://10.196.132.104:49000/spark/eventlog
spark.eventLog.enabled  true
spark.dynamicAllocation.enabled true
spark.dynamicAllocation.initialExecutors 1
spark.dynamicAllocation.maxExecutors    1
spark.executor.memory   1g
spark.executor.cores   1
spark.driver.memory     1g

spark.shuffle.ser

[2017-06-19 10:54] FANNG1 commented on #352
update logs, and could see task 0 on k8s tasks 10s, while on yarn takes only 4s.  kubelet and NM are on the same machine, had same jvm paramters ,please skip the logs added for debug
[yarn executor log](https://paste.ubuntu.com/24898677/)
[k8s executor log](https://paste.ubuntu.com/24898705/)

[2017-06-21 02:01] duyanghao opened #353 "Support for Spark Web UI"
@mccheah In my tests,i have not found spark.ui.port(404x) in driver.
Does the spark on k8s support Spark Web UI as the native spark does? And how to do if it does?

[2017-06-21 02:06] foxish commented on #353
It is possible to get to the driver UI after running `kubectl proxy` using:

`http://localhost:8080/api/v1/namespaces/default/pods/<driver_pod_name>:4040/proxy`
by replacing `<driver_pod_name>` with the name of the driver pod.
There is an existing bug here, https://github.com/apache-spark-on-k8s/spark/issues/304 and deploying a fix similar to https://github.com/apache-spark-on-k8s/spark/issues/87

[2017-06-21 02:07] foxish commented on #353
It is future work to use CRDs (formerly TPRs), and have a better and more convenient way of surfacing the URL to the user.

[2017-06-22 00:22] mccheah opened #354 "Submission client legibility and maintainability refactors"
Some of the recent work on the submission client has revealed that it can be difficult to add new features to it due to the way it is currently designed. This issue is for an open-ended discussion about how we could architect this better.

For background, the first version of the submission client was a monolithic design with a single class that handled almost all of the logic. The class was not u

[2017-06-22 00:24] mccheah commented on #354
@ifilonenko @chenchun for thoughts as you both have worked on this code recently. Are there any other things to consider aside from the three mentioned above?

@foxish @ash211 @erikerlandson @kimoonkim also.

[2017-06-22 03:40] FANNG1 commented on #352
found the main reason is in k8s cpu limit is the same as cpu request, in this case is 1 cores, while in yarn, executor could exceed cpu request,add a pull request to add "spark.kubernetes.executor.limit.cores" to specify cpu limit of executor

[2017-06-22 06:16] ash211 commented on #352
Great debugging @sandflee !  What you're proposing around cpu limits is definitely a plausible explanation for some of the discrepancy in performance between YARN and k8s.

Looking at [these YARN docs](https://hadoop.apache.org/docs/r2.8.0/hadoop-yarn/hadoop-yarn-site/NodeManagerCgroups.html) it appears that YARN doesn't do cpu limiting of a YARN container at the OS level without configuring cgrou

[2017-06-22 06:19] foxish commented on #352
Setting a request and **no limit** would be the way to make sure that there is only a minimum guarantee and no upper bound on usage. Making that the default makes sense to me. We should have the limit be optional using the option that @sandflee wrote in his PR.

[2017-06-22 06:22] foxish commented on #352
CPU is considered a "compressible" resource (unlike memory), so, there is no harm in making it unbounded. If the system has insufficient cpu, the executor's CPU usage will be throttled (down to the request of 1 CPU), but the executor will not be killed. See also: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-qos.md#compressible-resource-guarantees

[2017-06-22 15:49] liyinan926 commented on #352
Spark already has `spark.cores.max` applicable to standalone and Mesos (static) deployments that limits the total number of cores across the whole cluster. So the core limit per executor can be derived as `spark.cores.max/spark.executor.cores`.  Should we consider using `spark.cores.max` instead of coming up with a Kubernetes specific one, given that we honor `spark.executor.cores`? This is partic

[2017-06-22 16:38] ash211 commented on #352
I don't think we can rely on always using `spark.cores.max` since it's not set by all applications.  Especially those migrating from YARN, where that setting has no effect.

And the arithmetic `spark.cores.max/spark.executor.cores` would provide the count of executors, rather than the core limit per executor.  That's `(total cores across cluster) / (cores per executor) = (executor count)`.  Possib

[2017-06-22 17:23] liyinan926 commented on #352
My bad, it should be `spark.core.max/executor-instances`. I agree that the default should be unlimited and the PR is doing the right thing. I'm just concerned about introducing yet another config key who's purpose can be served by using `spark.cores.max`.  It's certainly true that `spark.cores.max` is not always set. But with a sensible default of unlimited, it's not really an issue. We just need

[2017-06-22 22:06] kimoonkim commented on #352
@liyinan926 Thanks for debugging this executor core limit issue. This is quite interesting.

I am curious how this would work with dynamic allocation when the number of executors varies as the job goes. Is this suggested only for static allocation? Then, do we need another flag anyway if we want to limit max cores per executor for dynamic allocation?

[2017-06-22 22:23] liyinan926 commented on #352
@kimoonkim That's a good point. Changing the number of executors will cause the limit per executor to change as well if the value of `spark.cores.max` stays the same. With Kubernetes, it's probably not possible because the cpu limit is specified when an executor pod gets created.

[2017-06-23 04:23] tangzhankun commented on #352
@sandflee Have you tested the result with your new patch?

If I remember correctly, the <code>spec.containers[].resources.requests.cpu </code> is converted to <code>--cpu-shares</code> flag in the docker run command while <code>spec.containers[].resources.limits.cpu</code> is converted to <code> --cpu-quota</code>.  So I think that we should declare <code>-cpu-shares</code> with k8s client instead

[2017-06-23 06:03] #338 closed, assigned to nobody

[2017-06-23 08:38] FANNG1 commented on #352
yes, I have test the patch, set hard limit is  a user option with default no limit. user could limit cpu usage if needed, such as co-running a online service and a spark job.

[2017-06-23 18:36] ash211 commented on #352
Closed by https://github.com/apache-spark-on-k8s/spark/pull/356

[2017-06-23 18:36] #352 closed, assigned to nobody

[2017-06-23 18:37] ash211 commented on #352
Thanks again for debugging this @sandflee !  Happy to discuss any more performance discrepancies you find vs YARN or any other improvements you might find in future issues.

[2017-06-26 02:05] tangzhankun commented on #352
@sandflee I checked the patch and thanks!

[2017-06-27 20:37] ash211 opened #358 "User-specified node selector on pods"
I'd like to be able to add a Spark configuration to specify a node selector for all pods in the Spark job.  This helps me select all pods from the job to do e.g. resource tracking per job.

[2017-06-27 20:44] mccheah commented on #358
This continues to build on the need for custom pod specifications as mentioned in #38. I suppose the feature set and room for customization is possibly greater in Kubernetes compared to all of the other cluster managers that are supported so far. The original design that aligns with the other cluster managers may be too limiting here.

[2017-06-27 20:45] mccheah commented on #358
Oh I think this is handled by #355

[2017-06-28 17:44] liyinan926 opened #359 "Support fractional value (e.g., 0.5) for number of executor cores (spark.executor.cores)"
Spark only supports integral value for `spark.executor.cores` and will throw a `NumberFormatException` if a fractional value like 0.5 is used. Kubernetes, however, does support requesting a fraction of a CPU core, e.g., 0.1 or 100m. A potential solution is to for Spark to accept a fractional value if running on Kubernetes and round up to 1 otherwise.

[2017-06-28 17:46] liyinan926 commented on #359
Exception seen in the executor pod:

[code]

[2017-06-28 19:16] varunkatta opened #360 "Dynamic Allocation: Too many executors than desired?"
On running a Spark Pi with dynamic allocation enabled, I see the following somewhat consistently.. When I run the job with these arguments

[code]

The number of pods launched seem to be a much higher number than what is reported in the logs..
..
[code]
..

In the driver logs I see the following, I see only upto 5 launched

[code]

[2017-06-28 19:26] foxish commented on #360
I tried using the published images from: https://apache-spark-on-k8s.github.io/userdocs/running-on-kubernetes.html
My logs say:

[code]

[2017-06-28 19:27] foxish commented on #360
Can you try with the published images? Are your images built from HEAD?

[2017-06-29 19:18] #359 closed, assigned to nobody

[2017-06-29 21:04] varunkatta commented on #360
These are built from the HEAD...I will check once, if there is some user/operator error on my part and report..

[2017-06-30 03:38] #313 closed, assigned to nobody

[2017-06-30 07:16] duyanghao commented on #353
@foxish From my tests,we can only get driver UI of running tasks.Is there any way to get driver UI of finished tasks?

[2017-06-30 07:24] tnachen commented on #353
@duyanghao Spark itself doesn't support this, the only way to see finished task's history is from Spark History server.

[2017-06-30 07:59] duyanghao commented on #353
@tnachen i will try to use spark history server,but don't know whether the configuration is the same with [native spark](https://spark.apache.org/docs/2.1.0/monitoring.html).

[2017-06-30 11:34] varunkatta commented on #360
I am unable to run spark-pi with published images. See the following errors launching executors
[code]
And see the following in driver logs
[code]

[2017-06-30 19:26] mccheah commented on #353
The configuration should more or less be identical - as long as the history server is reading from the same event log directory as the Spark applications are writing to. You'll need some shared distribution storage layer like HDFS or S3, but this situation is no different to the standard usage of the Spark History Server right now.

[2017-06-30 19:27] mccheah commented on #353
However if your HDFS is only accessible in your Kubernetes cluster then you'll need to deploy the Spark History Server with Kubernetes as well. You'll need to build a Docker image that runs the history server and create a Kubernetes resource spec that you send to your API server.

[2017-06-30 19:29] mccheah commented on #360
@varunkatta can you try with static allocation? This might be a bug with our images in general - this wouldn't look specific to dynamic allocation, we build the pod's arguments identically.

[2017-06-30 19:36] mccheah commented on #360
And also use `kubectl describe pod` to get the details of the executor pods. I double checked our Dockerfiles on HEAD and they seem sane. Here's the command:

[code]

So we're probably seeing something where `SPARK_EXECUTOR_MEMORY` isn't being set properly, but looking at `KubernetesClusterSchedulerBackend` I can't quite see how this would happen. Would be good to inspect the pod to get more insig

[2017-07-05 02:36] honkiko commented on #247
Sometimes it's killed by JVM java.lang.OutOfMemoryError.  And the message is present in driver log.

`17/06/29 01:54:39 WARN KubernetesTaskSetManager: Lost task 0.0 in stage 2.0 (TID 4, 172.16.75.92, executor 1): java.lang.OutOfMemoryError: Java heap space        at scala.reflect.ManifestFactory$$anon$2.newArray(Manifest.scala:177)        at scala.reflect.ManifestFactory$$anon$2.newArray(Manifest.

[2017-07-05 17:14] varunkatta commented on #360
on describe pod of executor, this is what I see. I will try digging more information, if possible.

.....
    Volume Mounts:
      /tmp from tmp (rw)
      /var/run/secrets/kubernetes.io/serviceaccount from default-token-2jnd3 (ro)
    Environment Variables:
      SPARK_EXECUTOR_PORT:	10000
      SPARK_DRIVER_URL:		spark://CoarseGrainedScheduler@10.45.128.3:46339
      SPARK_EXECUTOR_CORES:	1

[2017-07-06 00:09] erikerlandson commented on #354
I think the "case class with copy method" builder pattern is generally effective, and case classes are easy to understand as objects representing configurations.

Some of the way this logic plays out does remind me of patterns using free monads and for-comprehensions, however working with those patterns isn't necessarily intuitive, and I'd worry about readability for the community.  They can be us

[2017-07-06 16:36] varunkatta commented on #360
K8s versions:

Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.6+e569a27", GitCommit:"e569a27d02001e343cb68086bc06d47804f62af6", GitTreeState:"not a git tree", BuildDate:"2016-11-12T09:29:14Z", GoVersion:"go1.7.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e7c0dd76b84709a1",

[2017-07-08 04:13] duyanghao commented on #353
@mccheah thanks, there are still many problems for loading large eventlog file when spark history server runs,but this is nothing to do with this project,i will close the issue.

[2017-07-08 04:13] #353 closed, assigned to nobody

[2017-07-08 04:28] duyanghao opened #368 "spark.executor.instances par seems invalid when it is large"
@mccheah When i set submit pars as below:
[code]
the spark task has been created successfully,but the problem is that only 50 executors has been produced during the whole life of the spark task(which keeps running all the time, never stopping)

so, i guess whether the spark.executor.instances par will become invalid when it is large?

[2017-07-08 08:47] ash211 commented on #368
@duyanghao possibly your cluster doesn't have enough space for 100 executor instances?  I would expect the current version of Spark to launch 100 executors and block until they're all ready, then begin launching tasks on the executors.

[2017-07-08 08:56] duyanghao commented on #368
@ash211 I can make sure there are enough resources for this task to run!
Have you tested the scenario for more than 100 spark.executors?

[2017-07-08 08:59] ash211 commented on #368
I haven't personally tested >100 executors but am currently unaware of any limits that would cause this to fail.

Are the pods not getting submitted and visible in `kubectl`, or are they not getting scheduled (stuck in pending state) ?

[2017-07-08 09:12] duyanghao commented on #368
@ash211 another 50 pods are not visible  in `kubectl` as below:
[code]

Addition: all pods created by this submit named by `app-kafka-streaming-1499486419238296266`

[2017-07-08 09:13] ash211 commented on #368
Can you please attach the logs from the spark-submit call in a `.txt` file here or on a pastebin-style website?

[2017-07-08 09:36] duyanghao commented on #133
This should cover the 80% use-case.

@foxish @varunkatta that what user really needs

The executor aborts easily for lots of reasons in practice,and causing driver abnormally shut down,which is intolerant.

[2017-07-08 10:01] duyanghao commented on #368
@ash211 @mccheah seen from the k8s log,there are only created records of `app-kafka-streaming-1499486419238296266-(1-50)` pods, nothing about `51-100` executor pods appears.

[2017-07-09 04:20] duyanghao commented on #368
@ash211 @mccheah It's strange enough that another task test show that it could produce 100 executors,maybe there is some unknown internal adjustments of driver for producing how many executors to run spark task.

So,i guess the driver doesn't decide produced executor nums only by par `spark.executor.instances`.Maybe there are some other influencing factors, such as the workload of spark task.

[2017-07-10 17:44] erikerlandson commented on #368
@duyanghao the spark driver log output will be very informative for localizing what is happening

[2017-07-10 18:10] foxish commented on #133
@duyanghao It should already be doing that. The executor allocation thread added as part of dynamic allocation does this already.

[2017-07-10 18:36] ifilonenko opened #369 "Launch PySpark Jobs such that Python launches the JVM"
Current PySpark implementation launches python and the PY4J gateway from the JVM which causes issues from a logging perspective. We should launch the JVM from Python instead. This will require a modification of the Docker file.

[2017-07-10 22:02] erikerlandson opened #370 "Interactions with proposed Rescheduler"
It is early days with this, but the Rescheduler appears to be another thing that could kill executors:
https://docs.google.com/document/d/1KXw02Q0cOF1MUrdpPNiug0yGZlixvPg2SwBycrT5DkE/edit
https://github.com/kubernetes/kubernetes/issues/12140

Possible integration points might be manipulating Pod Disruption Budget for executors, or using anti-affinity to minimize probability of getting targeted bas

[2017-07-11 04:05] duyanghao commented on #133
@foxish i will try it out to see what the result is(Performance and Stability).

[2017-07-11 23:05] ifilonenko commented on #130
In what cases would we see `core-site.xml` or `hdfs-site.xml` containing sensitive data that might need for it to be contained in a secret? Any thoughts on why ConfigMap wouldn't work, or why such `.xml` files cant simply be distributed via the resource staging server?

[2017-07-11 23:09] mccheah commented on #130
One case where the XML files might have sensitive data is when configuring Spark to communicate with S3. In those cases these XML files might contain AWS credentials.

[2017-07-11 23:13] ifilonenko commented on #130
If the user isn't specifying an existing ConfigMap how should the user be expected to specify the file locations which the ConfigMap will use in the creation step via the Submission Client.

[2017-07-11 23:14] mccheah commented on #130
The submission client can set it for the user and just set `HADOOP_CONF_DIR` for the user accordingly as well.

[2017-07-12 01:36] FANNG1 opened #371 "[Question] why design a resource stage server"
spark-on-yarn uses HDFS to store app dependencys, why spark-on-k8s use a  resource stage server not HDFS?
there may be some problem about resource stage server:
1, single point, if restarted or migrated the resource may lost
2, if many jobs concurrently uploading/downloading resources, the performence is likely poor(not tested yet)

[2017-07-12 02:06] ash211 commented on #371
Not all spark-on-k8s users are running HDFS in k8s.  In YARN there's a dependency on HDFS so YARN applications can assume that an HDFS exists.  But in k8s there's no HDFS dependency, and no other feature of k8s for stateful storage exist.  So for Spark had to make something ourselves.

[2017-07-12 02:06] mccheah commented on #371
Kubernetes and YARN differ in the sense that YARN is tightly coupled with the Hadoop ecosystem where Kubernetes is not. Allowing Kubernetes applications to be launched without HDFS allows for more flexibility for users who wish to avoid having to stand up an entire distributed system just to run one-off applications. The user may use a different distributed storage medium for their industry’s data

[2017-07-12 23:23] erikerlandson opened #372 "Test submissions using --packages and also with ".pyc enhanced" jars"
Spark supports two submission arguments `--packages` and `--repositories` for downloading maven-style jar artifacts (and their transitive deps), as another way to deliver jar files to drivers and executors.  I expect this may already work with spark-on-k8s, but it isn't in the integration tests.

A related pyspark specific issue is that spark supports an enhanced jar artifact format that may also

[2017-07-12 23:31] erikerlandson commented on #372
cc @ifilonenko @foxish @mccheah

[2017-07-13 09:43] FANNG1 commented on #371
thx, so HDFS maybe an optional backend for stage server ?

[2017-07-13 16:06] ash211 commented on #371
Yeah, I could see that.  Preferable to both HDFS and staging server though is to bake the necessary jars right into the docker image you're running -- then they're cached on each node by dockerd

[2017-07-14 01:30] #371 closed, assigned to nobody

[2017-07-17 04:57] luck02 commented on #4
Can someone explain what this means: ` Support for remaining language bindings (Python, R)`

Are we missing any python support currently?  Any docs I can read?  I'm just in the process of attempting to submit a simple-ish python job and if that's just not gonna work it would help to know :D
--- edit and
I guess the answer is yes.  I'm reading the design doc to try why that is.  On the surface it s

[2017-07-17 16:49] mccheah commented on #4
We have python support now, but it would be wise for us to do some more rigorous testing on it. We do not have support for R.

Edit: To get Python support you'll need to be working from the head of the `branch-2.1-kubernetes` branch. It's not in a previous release.

[2017-07-17 17:00] ifilonenko commented on #4
@luck02 I will make sure to write-up more documentation if it wasn't clear, but you run a PySpark job this way: https://github.com/apache-spark-on-k8s/spark/blob/branch-2.1-kubernetes/docs/running-on-kubernetes.md#running-pyspark

[2017-07-18 03:50] duyanghao commented on #133
@varunkatta @foxish
Is there any detailed documents about the principle of `Dynamic Executor Scaling`?
And until now,is the `Dynamic Executor Scaling`  the only way to do that(Make Spark jobs on Kubernetes more resilient when they encounter pod/executor failures)?
And how about the Performance and Stability of the `Dynamic Executor Scaling`?

I am urgent to know how to make our spark on k8s more r

[2017-07-18 20:55] mattdornfeld opened #377 "It would be nice to have more motivations for this project in the readme."
What advantages does deploying Spark on Kubernetes give over more traditional ways of installing Spark?

[2017-07-18 20:58] mccheah commented on #377
We should probably update the project proposal and link it in the README. In the meantime, some of the main motivations are discussed in https://github.com/apache-spark-on-k8s/spark/issues/270.

[2017-07-18 22:43] #358 closed, assigned to nobody

[2017-07-18 23:02] ifilonenko commented on #130
#373 Should handle this

[2017-07-19 05:03] luck02 opened #380 "Dependency failure on build"
I'm trying to build against `branch-2.1-kubernetes` due to discussion here: https://github.com/apache-spark-on-k8s/spark/issues/4

Getting a dependency failure:
[code]

Full output:

[code]

Based on output I'm thinking it's a transient problem or someone's definitely run into it previously.

Thanks!

[2017-07-19 05:13] liyinan926 commented on #380
Try running the following commands:

[code]

[2017-07-19 05:22] luck02 commented on #380
Interesting, well that got me past the initial problem.  I'll do a PR to update the docs in the near future.  Thanks!

[2017-07-19 05:22] #380 closed, assigned to nobody

[2017-07-19 17:57] ash211 commented on #345
From today's weekly sync, @foxish plans to begin this this week, and do a final release off branch-2.1-kubernetes.

[2017-07-19 20:45] foxish opened #381 "Cut a new release on spark 2.1.0"
Incorporates a tonne of fixes. Any help writing the release notes is appreciated. Most PR titles could probably serve as a changelog.

[2017-07-21 02:41] tangzhankun commented on #299
Any progress here? I suggest that both driver and executor environment variable should be exposed

[2017-07-21 10:03] matyix opened #384 "Prometheus support for Spark clusters on Kubernetes - proposed feature"
Hello maintainers

Is there interest in a Prometheus sink for the metrics systems in order to monitor Spark clusters on (not just) Kubernetes? We extensively use Prometheus for monitoring our K8S clusters and apps with Spark is among those.

In case there is interest I can send a pull request based on this [commit](https://github.com/matyix/spark/commit/63d594f7367bd178dd0cc1f22c25975cd46e34f6) -

[2017-07-21 16:34] kimoonkim commented on #384
Hi @matyix Thanks for opening this issue.

I am personally interested in using Prometheus for monitoring Spark on K8s. And I wonder if the Prometheus sink would make it easier. I think this is definitely worth discussing.

In the past, I have used the graphite sink on the Spark side and the graphite exporter on the Prometheus side to relay metrics to Prometheus, inspired by this [blog post](http:/

[2017-07-21 23:41] foxish commented on #381
Cutting a new release now. This will be the final one for 2.1 and we'll move on to 2.2 except for critical fixes.
cc @apache-spark-on-k8s/contributors

[2017-07-22 05:39] luck02 opened #386 "documentation on resource staging server"
The docs at: https://apache-spark-on-k8s.github.io/userdocs/running-on-kubernetes.html#dependency-management don't do a good job describing what this is and how it works.  I've also read / searched: https://docs.google.com/document/d/1_bBzOZ8rKiOSjQg78DXOA3ZBIo_KkDJjqxVuq0yXdew/edit#heading=h.22iurepifhgt

From an end user standpoint this is problematic as I am not sure which problems this is inte

[2017-07-22 18:04] luck02 commented on #386
on further reflection, there doesn't seem to be a way to use config maps / secrets.  It would seem we'd want some way to inject env variables outside of baking into the images so as to support the same image in different environments.  Is there a mechanism in the resource staging server to provide for that?  If not it could be useful to provide a more kubernetes specific approach ie be able to spe

[2017-07-22 18:37] luck02 opened #387 "spark history server"
Wondering if anyone has considered this use case:
https://spark.apache.org/docs/2.1.0/monitoring.html#viewing-after-the-fact

Presumable you'd want to deploy a history server like the resource server or shuffle service.  And we'd want to have a way to configure jobs to leave their event logs somewhere.

Has anyone thought about this, in an ideal world I'd like to contribute this.

The history serv

[2017-07-22 23:12] matyix commented on #384
Hi @kimoonkim

I think there are a few reasons why the native Prometheus based sink might be a better solution then using the Graphite one, through the Prometheus exporter. While Graphite collects key-value pairs only (and aggregates them), Prometheus using metric-vectors (metrics with label dimensions), thus the granularity is much higher. In case of Graphite you need ahead planning with your key

[2017-07-23 21:58] luck02 commented on #339
I'd link to this: https://github.com/apache-spark-on-k8s/spark/issues/386

Actual use cases around what the resource staging server is for are pretty minimal.

[2017-07-24 02:56] luck02 commented on #386
So after doing some more investigation it looks like PodPresets may be a way to go.  Apply a label to our spark jobs and then provide a PodPreset with the env variables we need.  Possibly problematical as that is v1alpha1 API which may not be something we can float in production.

[2017-07-24 16:12] kimoonkim commented on #384
@matyix Thanks for your points. Yes, I have seen the complication around the Graphite configuration myself and didn't love it. If the direct Prometheus exporter alleviates the issue, I think that's a welcome change.

[2017-07-24 21:53] ifilonenko opened #389 "Integration test failing due to Resource Staging Server"
Seems to be a re-occuring problem that causes Integration test failures:

[code]
Problem seems to stem from launchers being watched and monitoring for the Resource Staging Server

[2017-07-25 08:08] tangzhankun commented on #299
I've implemented a patch and passed the end-to-end test in my k8s cluster.
Two new configurations are supported as below:
[code]
If anyone else think this is useful too, I'll submit a PR.

[2017-07-25 17:19] ifilonenko opened #390 "Secure HDFS Support requires most recent PRs"
Upon investigation of Secure HDFS support, I have found that the recent PRs that have supported moving Delegation Token Renewal logic into Spark Core are instrumental towards providing a clean implementation.
The PR of focus is this one: [SPARK-20434: Move Hadoop delegation token code from yarn to core by mgummelt · Pull Request #17723 · apache/spark](https://github.com/apache/spark/pull/17723)

W

[2017-07-25 17:33] dimberman commented on #390
It sounds like you're creating a circular dependency.

The yarn package depends on the spark-core package, any attempts to pull that code back in to spark-core will expose you to bugs in the future and be a nightmare of reflection and code injection.

There are a few solutions I can think of based on this issue:

1. Pull whatever dependencies you need back into spark-core (though judging by our IR

[2017-07-25 17:39] foxish commented on #387
We had some discussions about this particular issue. I think @mccheah and @ifilonenko were interested in this item.

[2017-07-25 18:03] liyinan926 commented on #299
I think this is very useful. One use case I can think of is for a Spark application to use Google Cloud client libraries to interact with some GCP services, e.g., Cloud Pub/Sub, which need to know where to find the service account key file that is specified through the environment variable `GOOGLE_APPLICATION_CREDENTIALS`.

[2017-07-25 19:06] matyix commented on #384
@kimoonkim I will create a PR - shall this go now against the new 2.2 branch?

[2017-07-25 20:50] kimoonkim commented on #384
Probably. @foxish? Is 2.2 branch ready for receiving new PRs?

[2017-07-25 20:54] foxish commented on #384
We'll cut a new release on 2.2 tomorrow, and then it should be ready for PRs.

[2017-07-26 02:29] tangzhankun commented on #299
@liyinan926 , thanks for the feedback and I'll submit a PR for review soon.

[2017-07-26 21:35] mccheah opened #393 "Allow "spark.files" to be shipped through secrets or configmaps"
Many applications will include all of their binaries in Docker images, but will require setting configurations dynamically upon their submission. There is a separate discussion to have about allowing arbitrary secret and configmap mounts to be pushed onto the driver and executor pods. However, application deployment strategies that are being ported over from YARN, Mesos, or Standalone mode will ex

[2017-07-26 22:05] erikerlandson commented on #133
@duyanghao the official Apache Spark term for "dynamic executors" is "Dynamic Allocation", which is described here: https://spark.apache.org/docs/latest/job-scheduling.html#dynamic-resource-allocation.

Dynamic Allocation may add some resilience due to the presence of external shuffle servers preserving shuffle transform results, but even that won't cure all kinds of executor loss problems.

Spark

[2017-07-26 22:09] mccheah commented on #393
I'm not sure how large we can expect Python files to be relative to jars - does it make sense for Python files to require the resource staging server as well? @ifilonenko

[2017-07-26 22:18] mccheah commented on #380
I don't think `mvn install` should be required here - I would have expected the `-am` flag to allow the reactor to detect upstream dependents accordingly.

[2017-07-26 22:20] erikerlandson commented on #387
cross-referencing #111

[2017-07-26 22:28] mccheah commented on #387
@luck02 feel free to contribute something here. I'd imagine we can provide a YML specification along with a Docker image that can run the history server that reads event logs from storage that is shared between the history server and the jobs - typically an HDFS location. That's a very primitive way of managing the history server - there's a lot more advanced tooling that we can build such as link

[2017-07-26 22:32] erikerlandson commented on #393
IMO, python files should use the resource staging server.  They may be zip-files, so I assume the zips might be "large" in some cases.

I don't know how many people use this feature, but it is possible to include .pyc files in a maven jar artifact, and Spark knows how to find and use those:
https://spark-packages.org/artifact-help

[2017-07-26 22:37] mccheah commented on #393
The size checks would catch the big zips, but I agree that it is consistent to ship application "binaries" through the resource staging server.

[2017-07-26 23:20] mccheah opened #394 "Keep Minikube running forever on the Jenkins machine"
It's unclear how the build system has been handling the fact that every integration test run tries to start and stop the Minikube VM every time. For example, if two tests run concurrently, it is theoretically possible that one test could start the Minikube VM and the other one could stop it before the first test is finished using it. It seems relatively risky and flake-prone to modify the global s

[2017-07-26 23:22] ash211 commented on #393
Further context around this change is that we are in the process of moving our applications from using RSS to distribute jars and files, to baking as much as possible into the docker images themselves.  This improves performance and also immutability of application launches.

As of now, we have applications running successfully with jars baked into the images rather than distributed through `spark

[2017-07-27 00:24] ifilonenko commented on #393
+1 I agree with @erikerlandson in that python submission files could vary in size

[2017-07-27 00:54] ifilonenko commented on #394
+1 Since for images that are quite large, it would be strategic to build / pull them once and leave them up. i.e. large hadoop-images for the kerberos testing environment thoughts? @varunkatta @ssuchter

[2017-07-27 07:53] tangzhankun commented on #299
A [PR](https://github.com/apache-spark-on-k8s/spark/pull/395) submitted. Please review.

[2017-07-27 16:24] erikerlandson commented on #393
@ash211 I'm not sure if this is what you mean by "heavyweight" but I was noticing that the RSS image is based on `spark-base`, which means it has the entire Spark distribution on it.  I was wondering if that was necessary, since it doesn't actually run spark per se.
cc @mccheah

[2017-07-27 17:24] erikerlandson opened #396 "Can RSS image avoid using 'spark-base' ?"
In theory the resource staging server doesn't need the entire spark distribution, so its image could be made smaller.

[2017-07-27 17:40] erikerlandson commented on #393
Examining the secret [restrictions](https://kubernetes.io/docs/concepts/configuration/secret/#restrictions).

The maximum size of a secret is 1M, which seems somewhat restrictive, even for "small" files, but maybe that satisfies community standards.  This comment seems like a potential issue down the road, in terms of limiting the total data being pushed in this way:

Also, they apparently have to

[2017-07-27 17:58] liyinan926 opened #397 "Allow injection of arbitrary application secrets into driver/executor Pods"
Spark applications running in Kubernetes may need application credentials to access certain services, for example, to read data from or write data to database or storage services. As an example, for an Spark application to access Google Cloud Storage (GCS) or Cloud BigQuery through the GCS or BigQuery connectors, a GCP service account key with the right permissions granted must be injected and mad

[2017-07-27 18:01] mccheah commented on #393
The plan is not to create many secrets but to create one secret that has a secret key-value pair for each added file. Is the restriction on secrets applicable for each secret key or for the entire secret bundle? How about for ConfigMaps - does the ConfigMap have a similar size restriction?

Regarding creation before or after - we can create the single secret in the `otherKubernetesResources` list

[2017-07-27 18:04] ash211 commented on #393
@erikerlandson when I say the RSS is heavyweight, I mean more the interacting with it than launching it.  We could probably trim down both the RSS pod and the init container pod, but I suspect that eliminating the need to interact with the RSS entirely for certain jobs that have no jars and only "small" files (which are the majority of what we run) would be much higher impact on perf improvements

[2017-07-27 18:05] mccheah commented on #397
Can `spark.files` be used to inject your secrets? See https://github.com/apache-spark-on-k8s/spark/issues/393

[2017-07-27 18:10] mccheah commented on #393
If we need a single secret bundle to be < 1MB then we'll run into problems with larger numbers of `spark.files` or even big entries in `spark.files`. We might have to compress them before putting them in the secret and decompress them on the driver, but I fear that's also going to be heavyweight anyways - though probably still faster than running an init-container.

[2017-07-27 18:11] mccheah commented on #393
Decompression may also make the docker image commands more complex than we would perhaps like.

[2017-07-27 18:17] erikerlandson commented on #393
My interpretation of the doc wording is that the total size of all k/v pairs in a single secret must be <= 1MB, although the wording is a bit vague on that distinction.  Maybe @foxish can clarify.  At this point its hypothetical, but the idea that they might also somehow limit the total data in all secrets seems like it could cause problem if it becomes a policy.

[2017-07-27 18:24] mccheah commented on #393
I would imagine it would be a restriction on the total size since the restriction corresponds to the restriction on a single entry in etcd. I don't think we want to compress for the user - the user should handle compression themselves or else just use the resource staging server for bigger files. For numerous small files we can try to group them into ~1MB "blocks" and create a single bundle for ev

[2017-07-27 18:24] erikerlandson commented on #393
The size limit is the same for both secrets and configmap, which is driven by etcd limits:
https://github.com/kubernetes/kubernetes/issues/19781

[2017-07-27 18:28] erikerlandson commented on #393
If the primary use case is lightweight data like config, then this should still be helpful.  The RSS provides the fallback for anything that exceeds the limit.

[2017-07-27 18:30] ash211 commented on #393
I like using k8s configmap/secret for distributing "small" files, and RSS for distributing "large" files.

[2017-07-27 18:32] mccheah commented on #393
Should we then just gate at a total of 1MB? Would be the easiest implementation.

[2017-07-27 18:33] erikerlandson commented on #393
Makes sense to me.   If there is enough mandate later, fancier options like compression can always be added in the future.

[2017-07-27 18:34] mccheah commented on #393
If we gate at a total of 1MB then theoretically we're still not able to handle "only small" files because we can't handle 100 small files. But maybe that use case is also justifiable to enforce the usage of the resource staging server anyways.

[2017-07-27 18:35] erikerlandson commented on #393
I think the simple design should hit the 80/20 case

[2017-07-27 18:36] ash211 commented on #393
So the logic could be:

- if sum(files) < 1MB
  - distribute files via CM/secret
- else
  - require RSS, and distribute via RSS
- if any(jars)
  - require RSS, and distribute via RSS
- if RSS in use:
  - submit files/jars to RSS
  - apply spark-init containers to pods to download those files/jars
- else:
  - no spark-init containers on pods
  - files retrieved from cm/secret

That way if you have

[2017-07-27 18:37] ash211 commented on #393
In our particular case we are distributing two files, sized 377 and 119328 bytes, and are working to eliminate the need to distribute the larger file.  So our use case falls into the working 80 side of the 80/20 case.

[2017-07-27 20:04] foxish commented on #393
Storing lots of files which are close to the limit(900k/1M) is going to cause cluster performance issues, and we're probably hitting the upper limits at that point, and we don't want to affect the cluster's operations because of too many running jobs. Secrets may additionally be encrypted in etcd, making them a less than ideal choice for shipping config.

It does seem like the `truststore` should

[2017-07-27 20:16] liyinan926 commented on #393
Agreed with @foxish. It seems less ideal using secrets to ship file dependencies. Another concern that I think worths being called out is secrets will stay unless being deleted explicitly. This needs to be taken care of by the driver as the submission client is gone once it's done with submission. So the driver needs to remember which files in the set of `spark.files` were put into secrets and the

[2017-07-27 20:22] foxish commented on #393
The thing that feels missing before we can reliably allow people to ship things and utilize etcd with their own "files", is a feedback loop/monitoring/rate limiting which stops them from impacting cluster operations. This would make it more likely that they stop the cluster from functioning correctly. However, I do think init-containers are not fulfilling the purpose if they add that much overhead

[2017-07-27 20:24] mccheah commented on #393
This can be achieved just by using owner references, as we do with the other resources the driver depends on.

We could put the files in config maps by base64 encoding the files and decoding them before launching the driver process in the driver docker image. This assumes that all content sent in `spark.files` isn't sensitive but I suppose we have a separate discussion for having secret volume mou

[2017-07-27 20:26] foxish commented on #393
The secrets mounting mechanism should let us reference arbitrary secrets and mounts for them within the pods. Does that alleviate your problem? That has similar risks, but is explicit in that the user knows they're creating secrets, and if they choose to store files/config in secrets, that is transparent. I'm not sure we want to implicitly do that for the user however, as part of spark-submit.

[2017-07-27 20:27] mccheah commented on #393
The problem is that we want to port our application over from YARN submission which expects the files to be sent via `spark.files`. We would like to be able to use the same configuration option as-is without having to change our application, and I suspect this will be the case for other YARN to K8s migrations.

[2017-07-27 20:39] erikerlandson commented on #393
In theory, the purely feature-parity issue of "supporting spark.files" could be met using the RSS under the hood - just take files listed in spark.files and stage them using the RSS.  OTOH, one drawback is that you'd lose the advantage of having a mechanism that _doesn't_ require RSS.

The init container performance issue is a separate thing.  No doubt speeding it up benefits the entire community.

[2017-07-27 20:41] erikerlandson commented on #393
@foxish, does secrets mounting also include configmap mounting?  Is it about allowing a user to create them, and then instruct them to be mounted on the driver pod?

[2017-07-27 20:44] erikerlandson commented on #397
Could this be generalized to include configmap injections?

[2017-07-27 20:45] erikerlandson commented on #397
Also, secrets and configmaps can be exposed via env-vars.  Is this a useful alternative mechanism for #395 ?

[2017-07-27 20:49] foxish commented on #393
We didn't plan for configmap mounts so far, but the same mechanism (as the one for secrets in https://github.com/apache-spark-on-k8s/spark/issues/397) could be generalized, if needed. Yeah, a user could create them prior to launching the job, and just reference them in spark config, and specify a mount-path for them.

[2017-07-27 20:53] liyinan926 commented on #397
I think the implementation in #395 should be preferred because 1) it feels abusing secrets just for setting env variables, which can be done directly at Pod creation time, and 2) Spark already has native support for setting executor env-vars through the `spark.executorEnv.` property prefix so we should leverage that.

[2017-07-27 21:03] foxish commented on #393
So, I just tested on a 1.6.4 cluster. The general performance of init-containers appears to be fine. The kubelet will check the docker container status every 1 second and post that back to the APIServer.

[code]

So, chaining multiple init-containers is maybe not the problem here. We should investigate more into what's causing the delays. Maybe we could make the init container that fetches resourc

[2017-07-27 21:31] varunkatta commented on #394
Current Jenkins setup runs exactly one integration test at time. If a integration test is already running then any new test will be queued. So, there is no issue of multiple integration tests stomping on each other.

Starting and stopping Minicube itself is fast and has a low overhead. Given the current volume and frequency of PRs, the turn around time for integration test result after a PR submis

[2017-07-27 21:33] ash211 commented on #393
@foxish I don't think it's general init-container overhead that's causing the 14sec we're observing -- it's the specific spark-init container that 1) is kinda large in byte weight, 2) has a lot of jars for the JVM to parse through, and 3) has a heavyweight service start process (my observation above was that it takes 4sec from first log line `Starting init-container to download Spark application d

[2017-07-27 21:34] mccheah commented on #394
I wasn't aware of the queueing, but I think forcing queueing of integration tests is itself a bit bothersome because it slows down verification in general. Also for our work on Kerberos integration testing we will be deploying the Hadoop docker image repeatedly which is static and should be cached on the Minikube instance between runs, meaning that we shouldn't be deleting the Minikube VM between

[2017-07-27 21:36] ash211 commented on #394
I haven't noticed the minikube start/stop being the expensive part of integration tests, it seems more like it's the running of the integration tests themselves.

I wouldn't want to invest in speeding up part of the whole integration test Jenkins job (the minikube startup) without confirming that it's a heavy contributor to overall job timing.

[2017-07-27 21:43] mccheah commented on #394
This can be perhaps deferred to after we start using Hadoop in the integration tests then, but we don't want to pull the Hadoop image every time - that's 1.3GB or so of data we would prefer to keep cached.

[2017-07-27 22:08] foxish commented on #393
I see. I'll run a couple of experiments and report back. But if it is the spark-init container, should we look at profiling and optimizing that instead? For the function that it performs, the overhead seems disproportionate.

[2017-07-27 22:19] erikerlandson commented on #396
cross-referencing #393

[2017-07-27 22:21] foxish opened #398 "Cutting the Spark 2.2 release"
We can cut this and mark it as beta for now. I don't think there is a need to update documentation yet however to point to 2.2. This is a prerequisite to announcing upstream.
Steps:

1. [x] Build a distribution with and without hadoop
2. [x] Tag the commit, draft a github release, and upload the tar.gz files in (1)
3. [x] Build and upload the images (appropriately tagged) to the kubespark repo
4.

[2017-07-27 22:54] mccheah commented on #393
I think it's fine to also implement the workaround for the specific situation that for users with only very small files that are being ported over from YARN, they don't need to stand up the resource staging server if they put dependencies in Docker images. If we made the file size limit something like 10kb by default then we should be fine.

[2017-07-27 23:07] liyinan926 commented on #38
I want bring this issue up again as I feel that given now we have more requirements for customizing the driver/executor pods, with issues like #393, #397, #299, etc., it's the right time to re-think about this. I have some thoughts below on the use of YAML pod templates specifically. Whether to use YAML templates, PodPresets, or even something else remains a question.

- We still support the indiv

[2017-07-27 23:15] mccheah commented on #38
I think @foxish suggested using Pod Presets for this instead, in which case there would actually be no work to do on our part.

[2017-07-27 23:21] erikerlandson opened #399 "Update developer doc and integration testing doc for the 2.2 release"

[2017-07-27 23:23] erikerlandson opened #400 "Architecture document"
I don't think one this is a blocker for the 2.2 release, but upstream might be interested once we announce.

[2017-07-27 23:24] mccheah commented on #400
I'm writing up some documents on the submission client now but might appreciate some input on the other aspects of the design like the scheduler and the external shuffle service.

[2017-07-27 23:26] liyinan926 commented on #38
Yes, we are also considering PodPresets and having discussions on that. But it's not quite ready yet (currently alpha so is not guaranteed to  be available on a cluster) and needs certain things to be enabled to be used. That's why I brought this up again just to start discussions on the feasibility of using YAML templates as a potential solution.

[2017-07-27 23:27] erikerlandson commented on #400
It seems like a lot of scheduler and shuffle service architecture is already covered in the Design Proposal, I wonder if we could just refer to that, and build out the Design Proposal if any new content on those is warranted?

[2017-07-27 23:28] mccheah commented on #38
What's the timeline for Pod Presets to move from alpha to beta status?

[2017-07-27 23:29] mccheah commented on #400
We'd probably want some more in-depth breakdown of the architecture, but `KubernetesClusterSchedulerBackend` is due for a refactor to split apart more components anyways.

[2017-07-27 23:35] erikerlandson commented on #38
Doing it with YAML (as opposed to PodPresets, which of course are also yaml) feels like it will be an unguarded chainsaw kind of tool.  Trying to make it both safe and easy to explain would be a hard needle to thread.  From the POV that it's for power users anyway, that isn't necessarily a deal breaker, but at the very least it would have to be documented as a dangerous-power-tool category of feat

[2017-07-27 23:40] erikerlandson commented on #400
refactoring that seems like an "after 2.2" kind of project

[2017-07-27 23:45] mccheah commented on #400
+1 - I guess our first pass at the architecture discourse for the scheduler backend might be higher level to account for the fact that things might change. At any rate we'll be discussing more from a fundamental design standpoint - e.g. "Here's how we rate limit executor requests" -  rather than specific classes I suppose.

[2017-07-31 09:47] duyanghao opened #405 "heartbeat timeout causing all executors exit"
I run a spark application with 100 executors(each has 40G and 4cores),after running 4 hours,all executors exit with 56 and report the following logs:

[code]

and driver hangs for several hours with nothing to do.

the relevant logs of driver list below:
[code]

Addition:
1. Task Resources(1 driver + 100 executors)
driver: 40G+4cores
single executor: 40G+4cores

2. There are no user-specified spar

[2017-07-31 14:15] erikerlandson commented on #405
@duyanghao is it a situation where the heartbeats are sending correctly for some period of a time, and then stop working or do they never succeed?

[2017-07-31 16:42] foxish commented on #393
10k limit and making this behavior opt-in sounds reasonable to me for now. It's not ideal to use secrets and I expect we'll use configmaps after https://github.com/kubernetes/kubernetes/issues/32432 is resolved.

[2017-08-01 02:12] duyanghao commented on #405
@erikerlandson all 100 executors are sending 60*3=180 heartbeats(10s timeout),but never succeed.

[2017-08-01 03:20] duyanghao commented on #405
@erikerlandson i add some debug logs in `core/src/main/scala/org/apache/spark/HeartbeatReceiver.scala` as below:

[code]

and there are following driver logs(after `grep executor:1 heartbeat`) when i run the task again:
[code]

And at the same time, the `executor 1` logs below:
[code]

i guess it is the problem of `eventLoopThread` as below:
[code]

[code]
JDK version:
[code]

[2017-08-01 08:06] tangzhankun commented on #405
Perhaps we need to find a simple workload to reproduce this. Will it help if we just let the executor sleep there?

[2017-08-01 10:18] hustcat commented on #405
[code]
We found the driver heartbeat thread is blocked, and so can't handle `heartbeat` message from executor.

[code]

However, should only one thread call this code, why thread is blocked?

[2017-08-01 10:26] hustcat commented on #405
@apache-spark-on-k8s/contributors Can any one give some suggestion?

[2017-08-01 16:02] erikerlandson commented on #398
I'm eager to announce, but I'm expecting the python support to be a popular feature, and I'm still hoping for at least a quick-start example for people to refer to.  Otherwise they'll have nothing to refer to, IIUC.

[2017-08-01 16:10] foxish commented on #398
+1, @ifilonenko, could you please prioritize the docs?

[2017-08-01 17:30] ifilonenko opened #406 "PySpark Submission Failing on --py-files"
Currently the integration-tests check inputs into Client#run() but do not test completely end-to-end starting from a spark-submit command. As such it was overlooked that PySpark submission fails because of argument processing in fromClientArguments(). The problem is that when `--py-files` is `null` fromClientArguments still tries to run `.mkString()` on `--other-py-files` causing the job to fail.

[2017-08-01 17:31] ifilonenko commented on #406
@mccheah @foxish Pushing PR with fix. Do let me know if you can get around this somehow without a PR so release doesn't get affected

[2017-08-01 17:45] foxish commented on #267
It appears to be down again. PTAL @ssuchter @varunkatta @kimoonkim

[2017-08-01 17:55] kimoonkim commented on #267
I see. Looking.

[2017-08-01 19:15] erikerlandson commented on #398
@foxish the docs look good to me: https://github.com/apache-spark-on-k8s/userdocs/pull/8
If #407 passes, we should include that.

[2017-08-01 19:17] erikerlandson commented on #398
I'd also like to merge #404 before cutting, unless there are any objections.

[2017-08-01 19:22] kimoonkim commented on #267
It should be up now.

[2017-08-01 19:28] kimoonkim commented on #128
Kerberos support is being addressed by #379, #391.

[2017-08-01 19:51] kimoonkim opened #408 "Support SPARK_USER for specifying usernames to HDFS"
Sub-issue of #128.

@weiting-chen, @foxish, @ifilonenko

When the driver and executors pods access HDFS, the usernames currently appear as `root` to HDFS because k8s pods do not have Linux user accounts other than `root`.

Both Spark and Hadoop library supports environment variables that can override the username to HDFS. Spark supports the `SPARK_USER` env var, which is set to a field in the acti

[2017-08-01 22:07] ifilonenko opened #409 "PySpark Submission fails without --jars"
An interesting problem arises when submitting the example PySpark jobs without --jars.
Here is an example submission:
[code]

This causes an error: `Error: Could not find or load main class .opt.spark.jars.activation-1.1.1.jar`

This error is solved by passing in the necessary --jars that are supplied by the examples jar:

[code]
Is this behavior expected? In the integration environment I specify

[2017-08-01 22:20] erikerlandson commented on #409
It makes sense to me that you need to explicitly specify jar deps from `examples`.  I'm more confused by the cases where its working without those.

[2017-08-01 22:24] erikerlandson opened #410 "end-to-end tests using spark-submit"
@ifilonenko pointed out some confusion that was partly involving the differences between directly invoking `Client.run()` and running through `spark-submit`.

End to end tests with spark-submit could help capture some of this

[2017-08-01 22:26] liyinan926 commented on #408
IIUC, it seems it's just because `SPARK_USER` is not set so `root` gets returned when `getCurrentUserName` gets called. So my understanding is by setting `SPARK_USER` to the submission user name when creating the driver Pod in the submission client and executor Pods in the driver, this should be fixed.

[2017-08-01 22:26] mccheah commented on #410
The problem with testing via spark-submit is that spark-submit sets global system properties on the JVM. We could mitigate this by forking the spark-submit process.

[2017-08-01 22:27] ifilonenko commented on #410
I have a working e2e test forking a spark-submit for Kerberos in #391 which we can mimic for future spark-submit e2e tests

[2017-08-02 00:13] tangzhankun commented on #405
@hustcat Could you please share the reproduce steps so I can try on my cluster?

[2017-08-02 01:55] hustcat commented on #405
We have found the reasons, and we will submit a PR to resolve this problem later:)

[2017-08-02 03:33] duyanghao commented on #405
@kimoonkim the problem is your [commit](https://github.com/apache-spark-on-k8s/spark/commit/51a325c4a2efcdfe3d191eca7e1732dc556bf24e),i drop your commit code,and it works without heartbeat timeout.
but i can't figure out the purpose of your commit. could you explain in detail why add following codes:
[code]

[2017-08-02 06:11] fogongzi opened #411 "java.lang.ClassNotFoundException: org.apache.spark.deploy.kubernetes.submit.Client"
When I test spark examples on kubernetes, it gives error:
java.lang.ClassNotFoundException: org.apache.spark.deploy.kubernetes.submit.Client
        at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
        at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
        at java.lang.ClassLoader.loadClass(ClassLoader.java:357)
        at java.lang.Class.forName0(Native Method)

[2017-08-02 07:51] foxish commented on #398
+1, makes sense to me @erikerlandson. Let's merge those and get out the release. We might have to cut another 2.1 as well because of the recently discovered pyspark bug.

[2017-08-02 14:17] erikerlandson commented on #410
would it work better to mimic the java command that spark-submit eventually creates?

[2017-08-02 16:55] kimoonkim commented on #405
@duyanghao Thanks for finding this as a potential root cause. We can think about why this commit could cause the issue. Maybe it is making the driver code slow to respond to heartbeats and other executor RPCs,  and thus causing more timeouts to be likely? The `InetAddressUtil` involves DNS lookup, which can be slow if there are a lot of executors. Maybe we should find a way to avoid hitting this c

[2017-08-02 18:17] kimoonkim commented on #405
I'll write a PR shortly, flag-guarding the DNS lookup. @hustcat, @duyanghao if you guys can try out the fix, that would be great. Thanks.

[2017-08-02 19:07] kimoonkim commented on #405
PR #412 is posted. @hustcat @duyanghao PTAL.

[2017-08-02 21:57] satybald opened #413 "Scala style guide tests fails"
During today SIG meetings, Spark Upstream Updates topic was discussed. One thing that community ask to fix code style issues. Currently, there are ~50 different issues in k8s module.

[code]

[2017-08-02 22:09] erikerlandson commented on #413
@satybald thanks - the apache spark upstream CI fails anything that doesn't pass the style tests, so we will definitely have to address this as part of the eventual adoption workflow.
cc @foxish @mccheah  @kimoonkim @ifilonenko

[2017-08-02 22:32] kimoonkim commented on #405
@hustcat @duyanghao Were you using HDFS as input or output of your Spark jobs? Do you use HDFS in general. If no, I think disabling HDFS locality support automatically per [this thread](https://github.com/apache-spark-on-k8s/spark/pull/412#issuecomment-319802476) is also a possible fix. Please let us know.

[2017-08-03 02:19] duyanghao commented on #405
@kimoonkim we are using HDFS as input and output,and it works well after removing your hdfs locality commit

[2017-08-03 02:20] hustcat commented on #405
Yeah, it's DNS lookup cause heartbeart timeout. We run HDFS as separate cluster out of k8s now, so disable HDFS locality support is OK for us.

However, I think DNS lookup is expensive operation, and also can be failed. I don't know YARN how to resolve this. Anyway, we will test your PR, THANKS.

[2017-08-03 03:27] satybald commented on #413
I can take care of fixing style issues if no one mind. Though, why k8s-spark CI doesn't run style guide checks?

[2017-08-03 03:30] foxish commented on #413
That is odd. Hmm, we used to run it [under travis](https://github.com/apache-spark-on-k8s/spark/blob/branch-2.2-kubernetes/.travis.yml#L61-L63) before.

[2017-08-03 04:25] satybald commented on #413
I'm sorry, there are no issues with a style guide. The issue can be closed. I accidentally run scalafmt on the module, and completely forgot about it. Silly me.

[2017-08-03 14:46] #413 closed, assigned to nobody

[2017-08-03 15:29] kimoonkim commented on #405
@hustcat Thanks for the answer.

Yes, I agree DNS lookup is expensive. The need for DNS lookup is unique to K8s. YARN does not have this issue. I think I have to re-design this DNS lookup approach while disabling the code path for now.

[2017-08-03 21:08] foxish opened #416 "Cutting a new Spark 2.1 release"
This is a prerequisite to announcing upstream.

Steps:

1. [x] Build a distribution with and without hadoop
2. [x] Tag the commit, draft a github release, and upload the tar.gz files in (1)
3. [x] Build and upload the images (appropriately tagged) to the kubespark repo
4. [x] Fill in the release description on GitHub

@apache-spark-on-k8s/contributors

"blocking" PRs:

1. [x] https://github.com/ap

[2017-08-03 21:28] kimoonkim commented on #416
Maybe we also want the bug fix #412, which seems almost ready to merge? The bug may impact many large jobs even when they don't use HDFS.

[2017-08-03 21:29] foxish commented on #416
You mean https://github.com/apache-spark-on-k8s/spark/pull/412? Yeah, I think that's a good one to include as well!

[2017-08-03 21:30] kimoonkim commented on #416
Correct. #412.

[2017-08-03 21:30] foxish commented on #416
PSA: Need an owner from the community for cutting this release. @erikerlandson is doing the 2.2 one, any volunteers for this? @apache-spark-on-k8s/contributors

[2017-08-03 21:57] ifilonenko commented on #389
[code]

[2017-08-03 22:08] erikerlandson commented on #389
This error seems to be associated with [mixing](https://stackoverflow.com/questions/34701477/java-lang-nosuchmethoderror-getpropertiesljava-util-map) Jersey 1 and 2, somehow.  Could we have picked up some version drift with the rebase to 2.2 ?

[2017-08-03 22:31] erikerlandson commented on #389
glassfish may also be [implicated](https://stackoverflow.com/questions/30723370/java-lang-nosuchmethoderror-javax-ws-rs-core-application-getpropertiesljava-u)

[2017-08-03 22:33] erikerlandson commented on #389
Looks like spark has been on jersey 2.x for a long time.  Possibly some transitive dep issue between jersey 2.x and whatever glassfish is using

[2017-08-03 22:51] erikerlandson commented on #389
Looks like a commit on July 21 from @mccheah involved some changes to glassfish, which might align with the timing of the recent failures
b7fdc23ccc5967de5799d8cf6f14289e71f29a1e

LOL, never mind, that is an old commit, the timing is from the rebase

[2017-08-03 23:23] erikerlandson commented on #389
If the problem is RSS crashing from missing method error, I'd expect that any integration tests using the RSS would fail 100% of the time.  Is anybody seeing these succeed?
@foxish @mccheah @kimoonkim @ifilonenko

The only recent integration tests I see succeeding are ones cherry-picked to 2.1

[2017-08-04 00:13] kimoonkim commented on #389
RSS integration test runs of #412 never succeeded. We tried 3 or 4 times. All failed.

[2017-08-04 00:17] ash211 commented on #389
Has an integration test ever passed on branch-2.2-kubernetes ?

[2017-08-04 00:20] foxish commented on #389
Most recently passed in https://github.com/apache-spark-on-k8s/spark/pull/407

[2017-08-04 06:03] weiting-chen opened #417 "Support multiple directories for spark.local.dir"
This is a feature request to support multiple directories for spark.local.dir setup.
spark.local.dir use "/tmp" as the default setting ([link](https://spark.apache.org/docs/latest/configuration.html)).
In Spark-on-Yarn, most customers usually use multiple directories for spark.local.dir setup. This way can help to get better performance.
In Spark-on-K8s, it indicates to root volume and cannot be m

[2017-08-04 17:27] liyinan926 commented on #416
@foxish I can help on cutting a new 2.1 release.

[2017-08-04 18:01] ifilonenko commented on #389
@erikerlandson I was able to figure out a fix. I will be pushing a PR.
[code]

[2017-08-04 18:18] erikerlandson commented on #389
@ifilonenko did you identify what precipitated this?  Was it #365?

[2017-08-07 20:56] erikerlandson commented on #389
xref: #420

[2017-08-08 00:50] erikerlandson commented on #389
@apache-spark-on-k8s/contributors I merged #420, which should allow integration tests to start passing again.

[2017-08-08 01:13] #405 closed, assigned to nobody

[2017-08-08 16:42] liyinan926 commented on #416
@foxish I don't seem to have permission to create a release.

[2017-08-08 16:50] #406 closed, assigned to nobody

[2017-08-08 16:52] erikerlandson commented on #399
@foxish is there a PR for this?

[2017-08-08 16:52] #389 closed, assigned to nobody

[2017-08-08 21:27] #400 closed, assigned to mccheah

[2017-08-09 07:09] weiting-chen commented on #408
In non-secure Hadoop, we can use "--conf spark.executorEnv.[EnvironmentVariableName]" to set up HADOOP_USER_NAME via spark-submit. Because in non-secure Hadoop, HDFS only checks the environment variable HADOOP_USER_NAME and it may not need to change the Linux user to a real one.

spark-submit \
  ... \
  --conf spark.executorEnv.HADOOP_USER_NAME=user1 \
  ...

To set env. variable is related to th

[2017-08-09 15:54] liyinan926 commented on #416
Still need to build and upload the new images.

[2017-08-09 21:24] liyinan926 commented on #416
Published all images tagged with `v2.1.0-kubernetes-0.3.1`.

[2017-08-09 21:24] #416 closed, assigned to nobody

[2017-08-09 23:01] erikerlandson commented on #398
@liyinan926 for the sake of consistency, can you paste the `dev/make-distribution` and `build/mvn` commands you used to do the latest 2.1 build here?  I'd like to make sure I'm using the same build options, to the extent possible

[2017-08-09 23:07] erikerlandson commented on #398
Recording my build commands here.

dist tarball:
[code]

image builds (from `spark-2.2.0-k8s-0.3.0-hadoop-2.7.3.tgz`):
[code]

[2017-08-09 23:09] liyinan926 commented on #398
@erikerlandson I used the following commands:
[code]

[2017-08-09 23:32] erikerlandson commented on #398
@liyinan926 thx - my reading of the [doc](https://spark.apache.org/docs/2.1.0/building-spark.html#specifying-the-hadoop-version) says that not providing the `-Phadoop-x.x` just defaults it to hadoop-2.2.0, should we be using `-Phadoop-provided` for the "no-hadoop" version?

Also, are you building the docker images from the (unpacked) tarballs?

cc @foxish

[2017-08-09 23:34] foxish commented on #398
Good catch @erikerlandson. I had missed that in the documentation as well.
We should use the `-Phadoop-provided` like you said.

[2017-08-09 23:34] liyinan926 commented on #398
Yes, I used the unpacked tarball (with hadoop) to build and push the images.

[2017-08-09 23:39] liyinan926 commented on #398
@foxish @erikerlandson I will rebuild the no-hadoop distribution and upload it with `-Phadoop-provided`.

[2017-08-10 13:37] duyanghao commented on #368
@erikerlandson Here are the last few lines for `Requesting a new executor` in driver logs:
[code]
@ash211 @mccheah @erikerlandson Can any one give some suggestions?

[2017-08-10 16:16] erikerlandson commented on #368
@duyanghao spark's dynamic allocation logic will never request more executors than there are data partitions.  So one possibility is; if there are 50 partitions in the data, then that will be the maximum the driver requests.

[2017-08-10 21:31] erikerlandson commented on #398
@apache-spark-on-k8s/contributors I have cut tarballs and images for `v2.2.0-kubernetes-0.3.0` - if somebody can smoke test these as a sanity check it would be great!

[2017-08-11 13:07] duyanghao opened #425 "spark log level support"
@mccheah Is there any spark par which controls spark log Level(such as Debug,Info,Warning or Error)?

After having a look at [spark configuration](https://spark.apache.org/docs/latest/configuration.html),we can achieve it by changing `log4j.properties` file in the `conf` directory.

But here in spark on k8s since we use docker image,changing the driver and executor image when we want to update the

[2017-08-11 16:21] erikerlandson commented on #425
I'd suggest configuring the settings in log4j.properties via config-maps

[2017-08-11 16:26] kimoonkim commented on #425
I like @erikerlandson's suggestion. Maybe one could switch between multiple log4j.properties specifying different log levels when launching jobs.

[2017-08-11 21:44] erikerlandson opened #426 "Looking for a way to run only the kube unit/integration testing"
By default, running the documented command ...

[code]

... runs all of spark's testing.  This not only takes forever, but required me to reconfigure my allowed number of open file-descriptors (`ExecutorAllocationManagerSuite` seems to be the main culprit here).

If there is already an easy way to do this from the maven CLI, I can't find it.  If there isn't, I'm wondering if somebody who is more c

[2017-08-11 21:44] erikerlandson commented on #426
cc @foxish @mccheah

[2017-08-11 21:51] ssuchter commented on #426
Is your question how to skip spark’s testing or how to change the allowed
number of open file-descriptors from maven?

[2017-08-11 21:52] erikerlandson commented on #426
skip spark's testing.  conversely, run only the kube related testing

[2017-08-11 22:50] erikerlandson commented on #426
Hmm, looking at the CI console output, maybe it's this:

`-Dtest=none -DwildcardSuites=org.apache.spark.deploy.kubernetes.integrationtest.KubernetesSuite`

[2017-08-11 22:55] ssuchter commented on #426
I was just looking into something like that. That feels right…

Sean

On August 11, 2017 at 3:50:22 PM, Erik Erlandson (notifications@github.com)
wrote:

Hmm, looking at the CI console output, maybe it's this:

-Dtest=none
-DwildcardSuites=org.apache.spark.deploy.kubernetes.integrationtest.KubernetesSuite

—
You are receiving this because you commented.
Reply to this email directly, view it on Git

[2017-08-11 23:03] kimoonkim commented on #426
Yes, I believe we did that in Jenkins exactly for that purpose.

[2017-08-12 02:49] duyanghao commented on #425
@erikerlandson what does it mean by `configuring the settings in log4j.properties via config-maps`?
could you explain it in detail(configuration or codes)?

[2017-08-12 03:34] duyanghao opened #428 "Submit Exec Failure when docker pars is changed and k8s api server restart"
The submit exits with following errors when i change docker pars(do not restart) or restart k8s api server:
[code]

Addition:
The result shows that above operations(change docker pars or restart k8s api server) do not have any influence on driver and executors.

[2017-08-12 03:41] ifilonenko commented on #426
[code]
[code]

[2017-08-12 18:14] erikerlandson commented on #426
This seems to work, at least for the IT since it is only one test class.  Unit tests would need some kind of regular expression `.*kubernetes.*`
Anyway, I can close this

[2017-08-12 18:14] #426 closed, assigned to nobody

[2017-08-12 18:29] erikerlandson commented on #425
You can mount config-maps as volumes, where the key becomes file name, and the value becomes contents.  So you'd declare a config-map whose key is `log4j.properties` and value is the contents.

We may need to implement support for this, but if we do it will provide a general tool for setting configs that doesn't require plumbing a new CLI parameter for every configuration.  It may work best in tan

[2017-08-13 01:31] duyanghao commented on #425
@erikerlandson,i will try to work it out since This support is important and valuable.

[2017-08-13 01:33] duyanghao commented on #428
@erikerlandson,do you have any suggestion?

[2017-08-13 15:56] erikerlandson commented on #428
It makes sense to me that restarting the kube api server could cause the watcher to fail, since the watcher would lose connection to the cluster.  Can you explain what you mean about changing docker params?

[2017-08-13 16:13] erikerlandson commented on #425
This has some overlap with #393 - using configmaps/secrets to mount content on the containers

[2017-08-14 03:18] duyanghao commented on #428
@erikerlandson `changing docker params` means changing some pars in `/etc/sysconfig/docker` file(but do not restart docker).
i do think it would be more robust if watcher makes some reconnect.

[2017-08-14 04:21] duyanghao commented on #428
@erikerlandson maybe it is not relevant to `docker pars change` but `kubelet aborts`.but still i recommend watcher reconnection.

[2017-08-14 05:10] satybald opened #429 "Possible incorrect behavior of KubernetesClusterSchedulerBackend.doKillExecutors"
I'm new to the project and might be wrong but according to the class [CoarseGrainedSchedulerBackend.doKillExecutors](https://github.com/apache-spark-on-k8s/spark/blob/branch-2.2-kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala?utf8=%E2%9C%93#L642) should return whether the kill request is acknowledged. However, [KubernetesClusterSchedulerBackend

[2017-08-14 05:13] satybald commented on #429
What do you folks think? cc
@varunkatta @kimoonkim @mccheah

[2017-08-14 10:07] duyanghao commented on #425
@erikerlandson i am afraid using configmaps/secrets to mount content on the containers is a little heavy.after all, **i only want to specify `spark log level` and `spark log path`(not console).**

i argee with your suggestion:

i will try to work it out in this way.

**And my final target is to separate `spark log` from `user application log` by placing `spark log` in separate directory in the doc

[2017-08-14 17:57] erikerlandson commented on #425
My devils-advocate response is that any individual setting is always going to be heavy-weight compared to plumbing a single argument, but in the aggregate I hope to avoid plumbing every possible flag through the submission code.  There's always just one more.  If others feel differently about that, it's a worthy debate to have.

[2017-08-14 18:00] erikerlandson commented on #429
As I understand it, the kill operation is a request to the cluster API, which "succeeds" - knowledge of whether the corresponding pod eventually gets taken down is delayed, and not something we'd want to block on in `doKillExecutors`

[2017-08-14 18:02] erikerlandson commented on #428
@duyanghao I think if it's possible to make the watcher connections robust across restarts it would be desirable.  @foxish, do you have any insights on this one?

[2017-08-14 22:53] mccheah opened #434 "Submission client should provide the driver with a pod template to use for executors"
Currently we have a construct of a `SparkPodInitContainerBootstrap`, which is a module that can bootstrap an arbitrary pod with the init container that fetches dependencies. This code is used in both the submission client and the scheduler backend to bootstrap the init container into the driver and executor pods, respectively. However, in order to make sure the bootstrap is identical between the d

[2017-08-14 23:22] mccheah commented on #434
@aash @erikerlandson @ifilonenko @foxish for thoughts. I'm undecided on if this is a philosophically sound approach.

[2017-08-14 23:46] erikerlandson commented on #398
2.2 is cut and announced

[2017-08-14 23:46] #398 closed, assigned to nobody

[2017-08-15 16:43] erikerlandson commented on #434
Is the idea that a template rendered as yaml is an approach to reduce the duplicated effort, in a way that can be passed into the cluster from the submission client?

[2017-08-15 17:20] foxish opened #435 "SPIP: Spark on Kubernetes"
We sent an [SPIP](https://spark.apache.org/improvement-proposals.html) up to the spark community here.
http://apache-spark-developers-list.1001551.n3.nabble.com/SPIP-Spark-on-Kubernetes-td22147.html

I was made aware that it would help the community understand the importance of this change if some of us could explain our use of it,
and the reason(s) why we want Spark to support this change.

cc/ @

[2017-08-15 18:13] mccheah commented on #434
Something like that... the more I think about this though the more I don't think this is the right approach, at least not yet. @ifilonenko might have some thoughts on whether this would be helpful for the Kerberos work we've done too, because that has a similar problem.

[2017-08-15 18:57] luck02 commented on #435
I can document our requirements and what we're moving to.  Send to user/dev spark?

[2017-08-15 18:59] foxish commented on #435
Yes, the dev mailing list, as a response to the spip post that I linked to
above.

On Aug 15, 2017 11:57 AM, "Gary Lucas" <notifications@github.com> wrote:

[2017-08-15 20:46] jian-he commented on #270
FWIW, YARN also supports running docker containers in a native way.

[2017-08-15 21:03] mccheah commented on #270
There are some notable differences between how YARN handles Docker versus how Kubernetes handles Docker. For example, the security and isolation model is different, as YARN cannot use Docker in secure mode, and "...software running as root in the YARN container will have root privileges in the underlying NodeManager": https://hadoop.apache.org/docs/r2.7.2/hadoop-yarn/hadoop-yarn-site/DockerContain

[2017-08-15 21:09] erikerlandson commented on #270
As I understand it, In YARN you can only support a single rev of Spark in the cluster (is this also true of other libraries/deps?).  Kube doesn't have this limitation, since it does not care what software runs on any given container.

[2017-08-15 21:16] leletan opened #436 "How to kill a running spark job?"
On a standalone cluster we used to kill a running spark job by submission_id, which I am not sure if supported here. Or any work around to achieve the same thing?

[2017-08-15 21:21] mccheah commented on #436
Use `kubectl` to delete the driver pod and that should also delete all of the objects the application depends on.

[2017-08-15 21:26] ssuchter commented on #270
I don’t think this is correct. If you try to get the Spark jars out of what
is installed on the nodes, then you have to use what is installed on the
cluster. But otherwise, spark-submit can get YARN to distribute whatever
jars your version of Spark needs.

https://stackoverflow.com/questions/29691028/can-i-have-multiple-spark-versions-installed-in-cdh

[2017-08-15 21:27] mccheah commented on #270
One limitation is that the docker images need to be pre-pulled into the NodeManagers. Kubernetes handles the pulling of the images to the Kubelets.

[2017-08-15 21:29] leletan commented on #436
Thanks.

[2017-08-15 21:29] #436 closed, assigned to nobody

[2017-08-15 21:32] mccheah commented on #436
In the future when we have a Spark CustomResource we should theoretically be able to use the Kubernetes dashboard to destroy Spark applications.

[2017-08-16 14:42] satybald commented on #429
what I see in the code ```doKillExecutors``` is used by [killExecutors to adjust a number of executors](https://github.com/apache-spark-on-k8s/spark/blob/branch-2.2-kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/CoarseGrainedSchedulerBackend.scala?utf8=%E2%9C%93#L630).

I'm thinking if in case of such list: List(nonExistingPod1, nonExistingPod2, .. nonExistingPodN),  doKillExecu

[2017-08-16 14:43] satybald commented on #429
but if folks sure that it's proper behavior, feel free to close an issue.

[2017-08-16 17:34] ash211 opened #438 "Document how to publish apache-spark-on-k8s releases"
cc @erikerlandson

For reference, I use this script to build the Palantir Spark dist locally which might be usable as a starting point:

[code]

[2017-08-16 19:08] kimoonkim opened #439 "Migrate temporary storage for Spark jobs to EmptyDir"
Currently, Spark jobs use dirs inside the driver and executor pods for storing temporary files. For instance, the work dirs for the Spark driver and executors use dirs inside the pods. And internal shuffle service per executor also uses in-pod dirs.

These in-pod dirs are within the [docker storage backend](https://docs.docker.com/engine/userguide/storagedriver/selectadriver/), which can be slow d

[2017-08-16 20:08] ash211 commented on #439
This suggestion seems very reasonable as a potential performance improvement.  Good suggestion @kimoonkim !

Ideally we could look at some benchmarks before/after of some Spark jobs to compare the difference.  And they would need to be shuffle heavy to emphasize the differences on this write path.

[2017-08-16 21:50] sahilprasad commented on #300
@ash211 is this still applicable?

[2017-08-16 21:51] ash211 commented on #300
Could be, not sure.  I haven't had to debug an issue with connectivity to apiserver in a while

[2017-08-16 22:07] sahilprasad commented on #300
I believe the only time I've encountered something like this was with an unsuccessful installation of Weave. Failing fast could probably help people debug faulty Kubernetes or pod network configurations.

[2017-08-16 22:18] erikerlandson commented on #438
Thanks @ash211 - For reference and comparison, I built the 2.2 release using the following:

[code]

I noticed that all but one unit test succeeded using only `-Pkubernetes -Phadoop-2.7 -Dhadoop.version=2.7.3`.

I was unable to run integration tests out of the box because I use kvm instead of v-box for minikube.  However I can probably spin minikube up separately and run them in shared-cluster mod

[2017-08-16 22:20] erikerlandson commented on #438
to build w/out hadoop deps included you have to use `-Phadoop-provided` which I'm not sure everybody knows.  Simply not specifying `-Phadoop-x.x` defaults it to 2.2, it does not build without.

[2017-08-16 22:22] erikerlandson commented on #300
This seems like a good idea on principle.  Especially for new users, but failing fast is always preferable to deferring it.

[2017-08-17 18:36] #349 closed, assigned to nobody

[2017-08-17 20:54] mccheah opened #440 "Spark configuration options with spaces aren't parsed properly in default images"
This is most notorious with `spark.driver.extraJavaOptions` and `spark.executor.extraJavaOptions`. The following configuration won't work properly:

`--conf spark.driver.extraJavaOptions=-XX:+HeapDumpOnOutOfMemoryError -XX:+PrintGCDetails`

Because we pass the driver's JVM options in a single environment variable, we don't handle the spaces in a single configuration value properly.

[2017-08-17 21:34] dimberman commented on #440
Hi @mccheah, would you like me to look into this?

[2017-08-17 22:15] erikerlandson opened #441 "Upstreaming and pull request strategy for Spark on Kubernetes"
We'll be wanting a plan for presenting this project in PRs that are as digestible as possible by the Apache Spark reviewers upstream.  We can use this issue to formulate a strategy

[2017-08-17 22:17] erikerlandson commented on #441
The RSS seems like one good candidate for a PR, to be presented "after" the kube-spark core.  If so, then possibly RSS-related config might require temporary disabling for initial core PR.

[2017-08-17 22:17] erikerlandson commented on #441
The hadoop repo seems like another.

[2017-08-17 22:18] erikerlandson commented on #441
Shuffle service / D.A. ?

[2017-08-17 23:25] ash211 commented on #440
ok I think we have a way to do this:

- in the launcher, split the `spark.*.extraJavaOptions` variables using `Utils.splitCommandString`
- add a series of environment variables to each pod, named `EXTRA_JAVA_OPT_0`, `EXTRA_JAVA_OPT_1`, `EXTRA_JAVA_OPT_2`, etc.
- in the Dockerfile, read these variables out of the environment and apply to the Java command, possibly using bash arrays (requires bash 4

[2017-08-18 03:01] duyanghao opened #443 "no log links in spark history server(spark on k8s)"
Seen from `spark history server` of `spark on yarn`,it gives driver and executors log links,and each log has four types: `gc.log`,`spark.log`,`stderr`,`stdout`.But there is no link about log from `spark history server`(`spark on k8s`)

Although i am unfamiliar with the `spark history server`,but it's a strange phenomenon.

@erikerlandson any suggestions?

[2017-08-19 03:24] varunkatta commented on #429
Per my understanding,
[KubernetesClusterSchedulerBackend.doKillExecutors](https://github.com/apache-spark-on-k8s/spark/blob/branch-2.2-kubernetes/resource-managers/kubernetes/core/src/main/scala/org/apache/spark/scheduler/cluster/kubernetes/KubernetesClusterSchedulerBackend.scala?utf8=%E2%9C%93#L604)  eventually returns true, if the kill request has been acked and performed, and in this implementa

[2017-08-19 21:52] satybald commented on #429
Thanks, @varunkatta and @erikerlandson for valuable comments. I'm still thinking if the function returns boolean, it should not return always true. Otherwise, the proper function type is void. Off course there's always a case for a bad API design :)

I've looked into the implementation of others cluster backends Messos and Standalone. I found that doKillExecutors in those implementations return fa

[2017-08-19 23:54] luck02 commented on #386
There's still basically no documentation on the resource staging server.  I'm looking at what mechanisms I can use to get my dependencies available to spark, hadoop-aws in this case.

I could bake that into the image, and probably will.  But it looks like the resource server is intended for this use case but there's little to no documentation on it.

Thanks!

[2017-08-20 04:25] luck02 commented on #386
Found this:  Should be linked in the top level docs ? https://github.com/apache-spark-on-k8s/spark/blob/branch-2.2-kubernetes/resource-managers/kubernetes/architecture-docs/submission-client.md

[2017-08-20 19:54] luck02 commented on #397
I've been using podpresets:

[code]

Docs:
https://kubernetes.io/docs/tasks/inject-data-application/podpreset/

Needs admission controller configs set:
[code]

PodPreset is the one you need for PodPresets.

I haven't quite gotten this into production, prod admissionController configs are different.

I needed ServiceAccount as well with minikube v.021, but not specifically for podPresets.
[code]

B

[2017-08-20 21:15] luck02 commented on #397
On futher reflection, podPresets are still alpha.  Not sure if / when they'll go to beta: https://github.com/apache-spark-on-k8s/spark/issues/38

However, they sure would solve allot of use cases.

Does anyone know when we'll see these in beta? I've been using podPresets quite effectively for env vars, it seems like it's purpose built for the use case.

[2017-08-20 21:19] liyinan926 commented on #397
One problem with `PodPreset` is it applies to all Pods with matching labels in a namespace. If a user needs to inject secrets not included in the `PodPreset`, she's out of luck. Another problem with `PodPreset` is if the admission controller fails to apply some `PodPreset` to a Pod, e.g., due to conflicts, it still allows the Pod to be created without having the `PodPreset` applied. This might cau

[2017-08-20 21:34] luck02 commented on #397
@liyinan926 I'm not sure if that's a problem. My use case envisions strictly the case where I want to provision env / secrets to env for an executing spark job.    If I needed to inject secrets not included in a pod preset could I not make another pod preset that applied to a specific label?.

I'd be at least as concerned with having multiple tools that do almost the same job.  Code sprawl and con

[2017-08-20 21:48] luck02 commented on #397
Given that's it's still alpha things could definitely move around.  One of the things that could be done would be to inspect if podPresets are mapped.  You get this `podpreset.admission.kubernetes.io/podpreset-podprset-env:
99999` applied to the pod.    https://kubernetes.io/docs/tasks/inject-data-application/podpreset/#behavior  I'm wondering if you'd want to check for that label and see if it ha

[2017-08-21 18:05] mccheah commented on #386
@luck02 custom environment variables I believe are not supported right now, but we could easily add configuration options for that. Architecture documentation has been improved somewhat but there might still be gaps there.

A valid point, but in at least the YARN docs there isn't much description on how it works (https://spark.apache.org/docs/latest/running-on-yarn.html) and for both YARN and Meso

[2017-08-21 21:38] erikerlandson commented on #440
Is there a reason these sequences don't work when encased in quotes?

`--conf spark.driver.extraJavaOptions="-XX:+HeapDumpOnOutOfMemoryError -XX:+PrintGCDetails"`

(provided the quotes are re-propagated as needed)

[2017-08-21 21:42] mccheah commented on #440
I don't know why that isn't working, though this format is something I tried. I think it has something to do with the nuances of bash environment variable substitution.

[2017-08-21 21:46] #393 closed, assigned to nobody

[2017-08-21 21:55] erikerlandson commented on #429
I think returning false in the case of closed/missing `kubernetesClient` looks reasonable.

An empty `runningExecutorsToPods` seems like just a special case of one name missing from the table (i.e. all of the names are), and that is already handled in the code.

[2017-08-21 22:17] erikerlandson commented on #440
It bugs me that this doesn't work, but OTOH I can't definitively suggest a fix.

You're saying that putting quotes around it like:
`${JAVA_HOME}/bin/java "$SPARK_DRIVER_JAVA_OPTS" ...`
wasn't working?

[2017-08-21 22:19] ash211 commented on #440
correct, just adding those quotes to the `Dockerfile` was insufficient to get the tests to pass (we spent most of Thursday wrestling with this)

[2017-08-21 22:20] mccheah commented on #440
If quotes are placed around the entire string then the entire string is passed as a single argument to the JVM. That doesn't parse out and delimit the options properly.

[2017-08-21 23:03] erikerlandson commented on #440
Maybe something like:
[code]

That might at least remove the need for the separate env vars and the internal processing?

[2017-08-21 23:35] sahilprasad commented on #310
@mccheah is this still applicable?

[2017-08-22 00:06] kimoonkim opened #448 "Spark driver fails with K8s v1.6 out-of-box"
Crashes with the following exception:

	at io.fabric8.kubernetes.client.dsl.base.OperationSupport.requestFailure(OperationSupport.java:332)
	at io.fabric8.kubernetes.client.dsl.base.OperationSupport.assertResponseCode(OperationSupport.java:269)
	at io.fabric8.kubernetes.client.dsl.base.OperationSupport.handleResponse(OperationSupport.java:241)
	at io.fabric8.kubernetes.client.dsl.base.OperationSup

[2017-08-22 00:10] kimoonkim commented on #448
I have a small patch restoring the support of specifying service account name. Sending a PR soon in case we want a quick fix.

[2017-08-22 00:11] mccheah commented on #440
the `-d` option isn't supported by Bash as installed by our Docker images in alpina linux. I also think that this would fail because we want `-Dspark.executor.extraJavaOptions=-Dopt1=opt1Value -Dopt2=opt2Value` to be treated as a single JVM option.

[2017-08-22 00:12] ash211 commented on #448
Ah, our application uses `spark.kubernetes.authenticate.submission.oauthToken` to authenticate with the apiserver during submission so we didn't see this issue when we upgraded to k8s 1.6 whenever that was.

[2017-08-22 00:13] foxish commented on #448
It seems like the service account key exists but isn't being used during pod creation anymore. Thanks for finding this @kimoonkim.
Also, we should document the requirement of a clusterrole and clusterrolebinding when RBAC is enabled.

[2017-08-22 00:15] ash211 commented on #448
yes, `KUBERNETES_SERVICE_ACCOUNT_NAME` isn't used anymore.  I'd be happy to do a quick review on your PR when you get it in @kimoonkim !

[2017-08-22 00:19] kimoonkim commented on #448
Ah, good. Cleaning up the PR a bit. I'll make sure to include the documentation as well.

[2017-08-22 00:21] erikerlandson commented on #440
I suppose we might work around the `-d` by doing something like
[code]

I'm a bit confused by the single-jvm-option consideration.  I thought the problem with "$SPARK_DRIVER_JAVA_OPS" was that it presented multiple options as a single option when it shouldn't.

[2017-08-22 00:25] ash211 opened #449 "Followup to envvars in driver/executor PR"
Sorry I was slow to review and had post-merge comments for https://github.com/apache-spark-on-k8s/spark/pull/395#pullrequestreview-57641643 which was moved to https://github.com/apache-spark-on-k8s/spark/pull/424 and merged there (on branch-2.2-kubernetes instead of 2.1)

The points were:
- minor docs change
- potential conflict between user-supplied env vars and Spark's internal env vars

Thought

[2017-08-22 01:06] mccheah commented on #449
I think if environment is duplicated then Kubernetes would throw an error.

[2017-08-22 01:18] mccheah commented on #440
This command: `echo $SPARK_DRIVER_JAVA_OPTS | tr ' ' '\n' | readarray -t TEMP_OPTS` - this suffers from the same issue for piping to readarray, in that the resulting array is always empty:

[code]

[2017-08-22 01:26] mccheah commented on #440
(the blank line at the end is the output of `echo` which shows that the array is empty)

[2017-08-22 02:01] tangzhankun commented on #449
@ash211
For minor docs change, could you make it more clear?
For potential conflict, I implemented the conflict check at first but removed for below two reasons:
1. It seems that spark core also doesn't do this checking after executor env parsed from spark-submit options
2. Our k8s internal envs doesn't have a pattern for now so the detection login is a bit ugly and not stable to me. And even we d

[2017-08-22 02:16] tangzhankun commented on #440
I've also encountered issues related to space characters in conf options when I set custom environments. So this issue should be solved thoughtfully.
During my test,
1. If one set value with space in `spark.app.name`, the error happens before launching any container. I havn't time to debug it.
2. If one set value with space("my value1") in `spark.executorEnv.key1`, the error happens with "Could no

[2017-08-22 02:42] varunkatta commented on #429
In case of Mesos and Standalone backends, it is theoretically possible that `schedulerDriver` object in the former and `client `object in the latter may not be initialized when` doKillExecutors ` is called as they are initialized in the `start` method. Although, practically, it is not clear to me what control flow would trigger such a behavior, that is `doKillExecutors` is called before `start` (o

[2017-08-22 04:33] luck02 commented on #386
Slightly confused, I was referring to `documentation on resource staging server` Appologies.  I ended up using podpresets to provide my env variables but am happy to move to any other palatable option.

I don't think it is described there.  There appears to be no language that spells out what the resource staging server does or how it does it in those paragraphs.

from: [docs on dependency managem

[2017-08-22 06:49] #440 closed, assigned to nobody

[2017-08-22 14:38] erikerlandson commented on #440
@mccheah yeah the pipe thing, I guess instead use the temp file.  (still weird).

It seems like there are multiple layers of space problems here.  There's just the space between arguments/values, and then there's also spaces in values.

[2017-08-22 17:29] mccheah commented on #64
Closing this because we changed the server design.

[2017-08-22 17:29] #64 closed, assigned to iyanuobidele

[2017-08-22 17:40] mccheah commented on #386
I'm not sure if the user documentation should be describing exactly how the resource staging server works. This should be an implementation detail for end users. I suppose the main bit of information that's important for an administrator to decide how to deploy the server is the storage backend that's holding the files, since that requires possibly provisioning volumes, etc. But I don't think we n

[2017-08-22 17:50] mccheah commented on #449
Which environment variable does it select then? We can probably add a validation after the pod has been finally constructed. The validation shouldn't be a configuration step.

[2017-08-23 08:50] luciferksh opened #455 "how to give access token in spark-submit to connect to k8s cluster"
I have tried to submit spark job using spark-submit in our k8s cluster. The authentication was failed. I have tried with kubectl proxy also. It was not working. Is anyone try to add access token in spark-submit for k8s.
[code]

getting this error
[code]

[2017-08-23 08:50] luciferksh commented on #455
curl http://127.0.0.1:8003/api/v1/namespaces/sidartha-spark-cluster/pods is working fine.

[2017-08-23 08:59] luciferksh commented on #455
Hi @ash211 , Could you please help.

[2017-08-23 12:34] erikerlandson opened #457 "update image tags in kubernetes-shuffle-service.yaml"
they need to be updated to v2.2.0-kubernetes-0.3.0

[2017-08-23 15:21] ash211 commented on #455
Is that the exact command you're running?  The `& KUBERNETES_TRUST_CERTIFICATES=true.` looks misplaced.

Where are you expecting the `sidartha-spark-cluster` user to come from?

[2017-08-23 17:56] sahilprasad commented on #457
@erikerlandson would the spark-version label need to be updated to 2.2.0 as well?

[2017-08-23 19:35] #235 closed, assigned to nobody

[2017-08-23 21:52] erikerlandson commented on #457
@sahilprasad yes it should also be 2.2.0

[2017-08-23 22:13] mccheah commented on #275
I'm starting to work on these, beginning with refactors in https://github.com/apache-spark-on-k8s/spark/pull/452 and https://github.com/apache-spark-on-k8s/spark/pull/454, and then writing all of the tests in a new PR. This is a blocker for us merging the work into upstream.

[2017-08-23 22:59] sahilprasad commented on #457
@erikerlandson this also applies to conf/kubernetes-resource-staging-server.yaml

[2017-08-24 06:59] luciferksh commented on #455
@ash211  "& KUBERNETES_TRUST_CERTIFICATES=true." was a typo. Actually i tried without this parameter. The "sidartha-spark-cluster"  is the namespace which i have created in our k8s cluster.

[2017-08-24 08:13] tangzhankun commented on #449
@mccheah It'll use the last value when setting custom variable and overriding internal spark env.
You are saying a validation for conflicts with internal environment key?

[2017-08-24 11:26] foxish commented on #443
Are you running a spark history server deployment? What does your spec look like?

[2017-08-24 11:52] duyanghao commented on #443
@foxish i start SHS using `./sbin/start-history-server.sh` of `spark-2.1.0-k8s-0.1.0-SNAPSHOT-bin-2.2.0`(build from [`branch-2.1-kubernetes`](https://github.com/apache-spark-on-k8s/spark/tree/branch-2.1-kubernetes) branch).

[2017-08-24 16:19] foxish commented on #443
That wouldn't work, unless that's running within the cluster. We need to write a deployment that launches the SHS within the cluster. Tracked in https://github.com/apache-spark-on-k8s/spark/issues/387. Closing as dupe.

[2017-08-24 16:19] #443 closed, assigned to nobody

[2017-08-24 18:00] mccheah commented on #449
We should probably validate this and throw an error. For now it can just be checking the list of environment variables and throwing an any that are duplicates, and an error message can be like "[Driver/Executor] environment variable X was given multiple values: [values]. If you did not set this multiple times, they might have been set by `spark-submit`."

[2017-08-24 19:30] sahilprasad commented on #409
@erikerlandson can you elaborate on why this makes sense? I just ran into this and don't understand why the jar needs to be provided when I only intend to execute a Python app.

[2017-08-24 19:41] mccheah commented on #409
I don't think this is correct. @ifilonenko can you take another look at this?

[2017-08-24 20:48] erikerlandson commented on #409
@sahilprasad in general python jobs may execute jvm code, and in particular they may need additional jar deps that have to be supplied using `--jars`

@mccheah do you mean the spark-examples jar shouldn't be needed to run pi.py ?

[2017-08-24 20:51] mccheah commented on #409
I think in this particular example the error message is either incorrect or we're not passing arguments along properly: `Error: Could not find or load main class .opt.spark.jars.activation-1.1.1.jar`

If it was just a classpath failure then I would expect a `ClassNotFoundException` or something similar. Was there a stack trace @ifilonenko?

[2017-08-24 20:53] erikerlandson commented on #457
closing with merge of #460

[2017-08-24 20:53] #457 closed, assigned to nobody

[2017-08-24 20:54] #448 closed, assigned to nobody

[2017-08-24 21:01] erikerlandson commented on #449
I agree w/ @mccheah, multiple settings may be a configuration bug and silently overwriting could make it hard to find

[2017-08-24 21:08] erikerlandson opened #461 "dynamic allocation not working"
@ssaavedra is having problems using shuffle service and dynamic allocation, I'm creating this issue to track.

He is running against kube 1.7.2

[2017-08-24 21:40] sahilprasad commented on #409
@mccheah when I replicated this problem, the error that @ifilonenko provided is the only thing that I see.

[2017-08-24 21:47] ifilonenko commented on #409
What is quite interesting is how I didn't have the missing jar exception when I ran this with #364. But as @erikerlandson mentioned, this seems to be attributed to the spark-examples jar being needed when running pyspark examples. I would assume that a better test would be to run PySpark tasks outside of the spark-examples and see if the error persists.

[2017-08-24 21:49] ifilonenko commented on #369
@sahilprasad do you think that the solution to this issue would have a problem with your implementation of launching jupyter-notebooks from client mode

[2017-08-24 21:51] mccheah commented on #409
My hypothesis is that the Python Dockerfile is running an ill-formatted Java command. @sahilprasad  @ifilonenko - if either of you can track down how the command isn't being formed properly then that would be helpful. We had to fix a similar problem with https://github.com/apache-spark-on-k8s/spark/pull/444 for example.

[2017-08-24 22:00] sahilprasad commented on #461
Concerned if this is due to me as a result of #460. I ran a manual test just now but it appears to be working fine on my end.

[2017-08-24 22:13] sahilprasad commented on #369
@ifilonenko I'm not sure if it would cause issues. Currently, I can just run Jupyter on its own and run PySpark applications on top of it that communicate with k8s. Because of this, I'm not sure if a PySpark app launching the JVM would necessarily conflict with this method of execution, but this does seem like something we should be able to work around in the case that it does not work.

[2017-08-24 22:16] erikerlandson commented on #461
@sahilprasad I don't think so, @ssaavedra updated the images on his local copies.

[2017-08-24 22:20] sahilprasad commented on #409
@mccheah I can take a look. I also think that it's an ill-formatted Java command that's at the root of the issue, but I'll update this issue with what I find.

[2017-08-24 22:25] erikerlandson commented on #409
w.r.t. making it easier to observe command formatting, we might tweak `entrypoint.sh` to print out the command it's going to execute
#462

[2017-08-25 04:00] duyanghao commented on #387
@foxish i start SHS outside of k8s cluster,and it works without spark logs as i mention in this [issue](https://github.com/apache-spark-on-k8s/spark/issues/443).

I am curious about whether there will be `spark logs` on SHS(same as `spark on yarn`) when deploy SHS within the cluster.

[2017-08-25 08:20] ssaavedra commented on #461
For easier reference, I'll paste here the logs I gave so far.

Kubernetes version: 1.7.2
Spark on kubernetes images version: `kubespark/[image]:v2.2.0-kubernetes-0.3.0`

I created the shuffle service from conf/ with `kubectl -nssaavedraspark apply -f shuffle.yaml`, modifying the images so that they are at version `v2.2.0-kubernetes-0.3.0`.

The stacktrace on the driver:
[code]

The `100.96.4.249`

[2017-08-25 16:10] ssaavedra commented on #461
I've just spun up a new cluster with kube 1.6.6, and similar problems are showing up.

Also, it seems that 256MB is too low memory for my toy use-case in the resource staging server, so I pushed that to 1024MB in my installation.

For some reason, in this cluster, the executors are actually booted but fail immediately. Perhaps, it was so in the 1.7 cluster, and I just wasn't quick enough to find o

[2017-08-25 18:42] erikerlandson commented on #461
cc @foxish

[2017-08-25 19:23] erikerlandson commented on #461
@ssaavedra can you attach console log output from the shuffle service pod(s)?  Event-logs might also be interesting.

[2017-08-25 19:25] yonzhang opened #463 "Fail running integration test with ClassCastException"
Run integration-test with the following command:
build/mvn integration-test -Pkubernetes -Pkubernetes-integration-tests -pl resource-managers/kubernetes/integration-tests -am

And get the following class cast exception

ClientSuite:
- The client should configure the pod with the submission steps.
- The client should create the secondary Kubernetes resources.
- The client should attach the driver c

[2017-08-25 19:29] mccheah commented on #463
This is strange - you probably don't want to be running `ResourceStagingServerSuite` in the integration tests, as this is actually a unit test of sorts. But we've been running into some problems with this test in particular before so it might perhaps just be better to disable it.

[2017-08-25 19:42] mccheah commented on #455
It looks like you haven't specified any authentication parameters to the spark-submit command. Have you looked at any of the properties starting with `spark.kubernetes.authenticate` and see if any apply to you? https://github.com/apache-spark-on-k8s/spark/blob/branch-2.2-kubernetes/docs/running-on-kubernetes.md#spark-properties

[2017-08-25 19:49] sahilprasad commented on #463
@mccheah @yonzhang I've also been having issues with this test. I normally disable it when testing.

[2017-08-25 20:12] sahilprasad commented on #409
I was able to get @ifilonenko's first example working without `--jars`. When the java classpath is just `/opt/spark/jars/*` and submitted via the `-cp` flag within the Dockerfile, the jars are somehow not recognized. Adding a colon to the beginning of that classpath got it working. Should I submit a PR for this, or is there a better solution?

See changes here: https://github.com/apache-spark-on-k

[2017-08-25 20:55] erikerlandson commented on #409
@sahilprasad you should submit that as PR and we can discuss - are we over-writing existing entries on `SPARK_CLASSPATH` ?  If it's empty I'd not expect prepending a `:` would change the result.

[2017-08-25 21:06] yonzhang commented on #463
Thanks @mccheah @sahilprasad
Integration-tests phase will run all previous phases like unit test, that is why all spark core tests are run and this takes very long time.

So finally I simply run only KubernetesSuite directly by the following commands, which will save much time.
build/mvn integration-test  -Pkubernetes -Pkubernetes-integration-tests -pl resource-managers/kubernetes/integration-test

[2017-08-28 07:31] duyanghao opened #465 "java.net.SocketTimeoutException: timeout"
Sometimes,Submit failed with following error:
[code]

And sometimes,Driver failed with following error:
[code]

it is obvious that `kubernetes client` read timeout,but there is no way to set that parameter.

i guess we can try to add some pars in function `createKubernetesClient` as below:
[code]

Adding [KUBERNETES_REQUEST_TIMEOUT_SYSTEM_PROPERTY ](https://github.com/fabric8io/kubernetes-client/b

[2017-08-28 09:17] ssaavedra commented on #461
Sorry, didn't see this message before.
Are you referring to event-logs of the driver, executors or the shuffle-service pods?

None of the shuffle-service pods notices anything. These are the logs of one of them as a representative example:

[code]

kubectl describe driver pod: https://gist.github.com/ssaavedra/c6e5795e8be47195d2f51879d2a78988

I couldn't get the executor of that particular run, be

[2017-08-28 10:09] duyanghao commented on #428
@erikerlandson @foxish Taking a look at [issue 465](https://github.com/apache-spark-on-k8s/spark/issues/465),maybe we can have these problems solved together.

[2017-08-28 10:35] ssaavedra commented on #461
Logs for everything I could think of:
https://gist.github.com/ssaavedra/e6d9805f5ac0e61e709ab19b2911c0cf

Includes:
- kubectl describe plus kubectl logs of driver and first executor pods
- kubectl describe plus kubectl logs of both shuffle services (in this run I only had two kubernetes nodes plus the master)
- kubectl describe nodes (just in case, this is a kops-created cluster in AWS EC2)

[2017-08-28 15:42] foxish commented on #461
I think it could be RBAC here as well, similar to https://github.com/apache-spark-on-k8s/spark/issues/448.
The service account used with the shuffle service may not have the requisite permissions to watch all pods that it needs to watch.

[2017-08-28 16:20] ssaavedra commented on #461
The serviceaccount was created with:

`kubectl create clusterrolebinding default-default-cluster-admin --clusterrole=cluster-admin --serviceaccount=default:default`

This is the result of describing the clusterrolebinding:

[code]

[2017-08-29 01:45] ash211 opened #466 "Debug log driver/executor podspecs at creation time"
I'd like to see what the podspec is at this point in creation time for debugging purposes.

https://github.com/apache-spark-on-k8s/spark/blob/6177bf8c43b77ab5072b4cf5ad4f52178dbf6a29/resource-managers/kubernetes/core/src/main/scala/org/apache/spark/deploy/kubernetes/submit/Client.scala#L122

https://github.com/apache-spark-on-k8s/spark/blob/6177bf8c43b77ab5072b4cf5ad4f52178dbf6a29/resource-manager

[2017-08-29 06:04] ash211 opened #467 "Incorrect GiB -> MB units conversion"
If I set `spark.driver.memory=6G` then the created pod has these resources set on it:

[code]

That might look correct at first, but a Java Xmx of 6G is in units GiB ([per SO](https://stackoverflow.com/questions/32855984/does-java-xmx1g-mean-109-or-230-bytes/32858015)) and 6144M is in units MB ([per k8s docs](https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/#memory-u

[2017-08-29 06:36] ash211 opened #468 "Be resilient to failure to delete pod on executor heartbeat failure"
Sequence of events:
- Spark app is running in static allocation mode
- an executor OOMs / GC storms and fails to heartbeat
- driver cleans it up by deleting it and launching a replacement
- but deletion fails due to a permissions problem
- so launching a replacement executor doesn't happen

The effect here is that in static allocation mode in this scenario, my executor never returned and my job fa

[2017-08-29 10:31] duyanghao commented on #465
@foxish @erikerlandson I have created a [PR](https://github.com/apache-spark-on-k8s/spark/pull/469) for this problem.

[2017-08-29 12:29] luciferksh commented on #455
@mccheah Thanks for your reply. The issue was with our k8s cluster configuration.

[2017-08-29 12:29] #455 closed, assigned to nobody

[2017-08-29 21:12] #434 closed, assigned to nobody

[2017-08-29 21:12] mccheah commented on #434
Closing because this wasn't necessary yet to accomplish what we needed to do

[2017-08-30 08:43] ssaavedra commented on #461
@foxish I think the clusterrolebinding should provide the container with enough permissions on the default Namespace (and it's the only namespace I'm using in this test cluster). It should not be related to the cluster roles, I'm using this same ServiceAccount for other services in this cluster (kube v1.6.6) and in another dev cluster (kube v1.7.2) and it seems they are able to access the Kubernet

[2017-08-30 09:09] foxish commented on #461
This is very odd. I'm unable to repro this case at all. Just tried with the 2.2 release and dynamic allocation on GKE with Kubernetes v1.7.3 and it all seems fine. Looking into the code, the only way it should point back to the driver's pod IP is if the labels somehow select the driver pod.

I'm posting all the config I used: https://gist.github.com/foxish/e9a7c496ef0fed54b23c1c37bf4b5a62
I used a

[2017-08-30 12:59] duyanghao commented on #467
@ash211 spark should convert `M` to `Mi` when sending request(create pod) to k8s.
I have created a [PR](https://github.com/apache-spark-on-k8s/spark/pull/471) to correct this problem.

[2017-08-30 15:19] ash211 commented on #467
Hi @duyanghao I'm sorry I didn't comment here earlier -- there's already a PR up that fixes this which is linked here -- see number 470 above in this issue thread.  So I think your PR is duplicate of that one :(

I'm going to merge the first and close yours -- sorry about the duplicate work.

[2017-08-30 15:19] #467 closed, assigned to nobody

[2017-08-30 16:08] duyanghao commented on #467
@ash211 i am afraid #470 is not enough to cover my PR.

[2017-08-30 16:34] ssaavedra commented on #461
I'm sorry, I couldn't get back to this today.

For clarification tomorrow (due to our apparent timezone difference), i'd like to ask you the following so that I can take action tomorrow:

About removing variables do you mean something else besides the RBAC?

It seems it does not point back to the driver pod, but instead it is some non-existent IP in the Pod IP range. But I can't really imagine tha

[2017-08-30 16:41] ash211 commented on #467
Do you mean the change you made to `executorMemoryString` ?  Now the `ENV_EXECUTOR_MEMORY` is memory+overhead rather than just memory.  However this is the size given to the JVM, and the overhead is outside the JVM.  So I don't think we want to add the overhead to the JVM heap otherwise there's no space between JVM heap size and the pod limit

[2017-08-30 18:09] erikerlandson opened #473 "Control executor scaling by external call/signal to a driver"
Currently, the scaling modes supported are: 1) static (set desired executors at startup time) and 2) dynamic allocation (exponential scale-up, adaptive scale-down).

Allowing a driver to be messaged in some way from the outside, to update the number of executors it should run, allows other spark scaling algorithms to be written externally.  For example, any user could implement their own custom co

[2017-08-30 18:35] foxish commented on #473
One thing that's a prerequisite to having external scaling, is to have the spark scheduler backend understand that, and not attempt to manage the lifetimes of any of the executors. Else, I can imagine races where the two schedulers don't see eye to eye.

However, question - are there use-cases where we think the driver makes worse scheduling decisions than a custom controller could?

[2017-08-31 01:30] duyanghao commented on #467
@ash211

Right now, the `ENV_EXECUTOR_MEMORY` is **memory** but `ENV_DRIVER_MEMORY` is **memory+overhead**

If the `ENV_EXECUTOR_MEMORY` should only be memory, as you said above, the `ENV_DRIVER_MEMORY` should also only be memory rather than memory+overhead,is that right?

So i suggest that ENV_DRIVER_MEMORY should also be just memory instead of memory+overheads.

I have created a [PR](https://git

[2017-08-31 16:38] erikerlandson commented on #473
My intuition is that a custom controller is likely to do better at some use cases, one significant example being: adjusting executor scaling based on quota systems (e.g. the kinds of quota systems intended to be managed via the arbitrator).

IMO, the executor lifetime logic would remain almost exactly as it is now.  The main difference would be that instead of consulting whether the task queue is

[2017-09-02 20:15] foxish commented on #441
The candidate set of different and separable components, and a potential order in which we could upstream them is:

1. Test infrastructure (minikube on jenkins)
2. Scheduler Backend + Submission Client
3. Dynamic allocation
4. Resource staging server
5. Kerberos support

(2) is the most complex of the lot. It mostly makes sense together, but we could break it down further if we absolutely must.

[2017-09-03 06:20] duyanghao commented on #134
@foxish @erikerlandson @varunkatta Is there any progress for this issue?i am currently encountering the same problem.
maybe we can work together for this problem.

[2017-09-05 01:23] #381 closed, assigned to nobody

[2017-09-05 01:23] foxish commented on #345
This is done.

[2017-09-05 01:23] #345 closed, assigned to nobody

[2017-09-05 07:22] rootsongjc opened #478 "Failed to run the sample spark-pi test using spark-submit on the doc"
**Environment**

- Kubernetes 1.6.0 cluster on bare metal
- Enabled TLS
- Enabled RBAC
- Spark v2.1.0-kubernetes-0.3.1

**Command**

[code]
I pulled the docker images and pushed to my registry.

**Logs**

Spark-submit logs

[code]

[2017-09-05 08:10] ssaavedra commented on #461
I tested successfully your example both on AWS and on GKE, where it run successfully.

While trying to isolate the differences, I found I could run into the same problem I have been describing in the present issue when trying to run my setup on GKE.

It seems that, setting other variables aside, this is related to the combination of using both the shuffle service and the resource staging server.

[2017-09-05 08:15] foxish commented on #478
@rootsongjc, can you post the logs from the driver/executor pods?

[2017-09-05 08:16] foxish commented on #461
I see! That is very helpful. Thanks @ssaavedra for investigating further.

[2017-09-05 08:56] rootsongjc commented on #478
@foxish  There is no pod created. I can't figure out what happened from spark-submit logs.

[2017-09-05 18:25] mccheah commented on #478
I believe we might delete the driver pod entirely if we fail to submit the job. But at some point a driver pod should be created and eventually it will fail. Does a driver pod ever appear if we use this:

`kubectl get pods -n <namespace> -w`

Where the `-w` flag makes it such that the pods can be followed as they are created and terminated?

[2017-09-06 02:44] rootsongjc commented on #478
@mccheah @foxish  I found a few error pods by running the comman `kubectl get pods --namespace spark-cluster`, here is error pod logs.

## Error Pod Logs

[code]

## Problems

From this log, we can see two problems:
-  Executor cannot find driver pod
-  User "system:serviceaccount:spark-cluster:default" cannot get pods in the namespace "spark-cluster".

[2017-09-06 02:44] rootsongjc commented on #478
@mccheah @foxish  I found a few error pods by running the comman `kubectl get pods --namespace spark-cluster`, here is error pod logs.
[code]

[2017-09-06 02:54] ash211 opened #480 "Better logging in driver for OOMKilled pods"
See this in driver logs:

[code]

and this in pod describe (redacted a bit):

[code]

The line in driver logs that says `Executor lost for unknown reasons` should instead say something about the pod being OOMKilled

[2017-09-06 05:31] ash211 commented on #473
@erikerlandson this doesn't seem kubernetes-specific -- I can imagine someone setting up a similar external scaler for Spark apps running in YARN.  Maybe it's best to have this discussion in the upstream Apache issue tracker?

[2017-09-06 08:03] ssaavedra commented on #461
Ok, after watching myself fail to reproduce this issue with the Spark Examples jar, it stumbled upon me. The job I was launching was being launched from a single jar with all dependencies embedded (using sbt-assembly). Thus, I would only have to upload a single jar to the resources staging server and everything would be easy to run. I was used to being able to do this on mesos and in the standalon

[2017-09-06 14:37] varunkatta commented on #134
This should be fixed through #244 and #459. May be wait till #459 gets merged to verify, if you still see this problem?

[2017-09-06 15:23] kimoonkim commented on #478
Looks like this is a service account permission issue. Kubernetes v 1.6 enables RBAC by default and the default service account does not have necessary permission for the driver. The driver needs "edit" privilege for constructing the executor pod spec.

[2017-09-06 15:25] foxish commented on #478
You're right. We should update our docs to include the step to create the
right RBAC permissions.

On Sep 6, 2017 8:23 AM, "Kimoon Kim" <notifications@github.com> wrote:

[2017-09-06 15:26] kimoonkim commented on #478
A related fix is done by #451 that supports service account override. The documentation is also updated to show how a new service account can be created and used. But we never had new releases that include this fix. We may want to do that soon.

[2017-09-06 15:27] kimoonkim commented on #478
@foxish Should we have new releases? I'll be happy to try out release processes if you need help.

[2017-09-06 15:30] kimoonkim commented on #480
Hmm. Maybe @varunkatta? I thought the driver watches executors and tries to figure out loss reasons.

[2017-09-06 15:33] foxish commented on #473
There is a k8s component called the Horizontal Pod Autoscaler that can
consume arbitrary "metrics" and make scaling decisions. This could be an
extension of that if the right metrics can be published and the CRD can
expose a scale subresource.

I'm not convinced about concrete uses for K8s-driven control being real yet
however. It seems like a "nice to have" at the moment.

On Sep 5, 2017 10:31 PM

[2017-09-06 15:37] foxish commented on #478
A bugfix release would certainly be a good idea. It would need to be for
2.1 (which our docs still point to) and 2.2. Would also be good to add a
couple of statements to the documentation about this.

On Sep 6, 2017 8:27 AM, "Kimoon Kim" <notifications@github.com> wrote:

@foxish <https://github.com/foxish> Should we have new releases? I'll be
happy to try out release processes if you need help.

[2017-09-06 17:31] ash211 opened #482 "Conflict with upstream SPARK-21642"
This PR breaks k8s work

https://issues.apache.org/jira/browse/SPARK-21642

[2017-09-06 17:37] felixcheung commented on #482
You can set a custom hostname for spark to use, see Mesos here https://github.com/apache/spark/blob/bb7afb4e10bea406a0d7ab03c2ed7aa753f081b7/core/src/main/scala/org/apache/spark/executor/Executor.scala#L79

[2017-09-06 17:46] varunkatta commented on #360
This issue is stale now.

[2017-09-06 17:46] #360 closed, assigned to nobody

[2017-09-06 17:46] ash211 commented on #482
After the above change, executors are launched with this difference in the podspec (redacted a bit):

Before:
[code]

After:
[code]

This is the hostname that the Spark executor uses to connect to the driver on (it's the driver's hostname), but there are problems:
- the hostname is truncated (no `-driver` suffix) because the hostname exceeds the 63char hostname component limit
- this driver pod ho

[2017-09-06 18:04] foxish commented on #482
Pods by default don't get DNS names in k8s. [Headless Services](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) would allow us to create one without incurring much of an overhead.

[2017-09-06 18:26] kimoonkim commented on #482
+1 to @foxish's suggestion. In general, there is a concern about putting too many entries in kube-dns, which is why k8s doesn't support DNS names for pods by default. But I think having one DNS name per job isn't too bad.

[2017-09-06 18:30] foxish commented on #435
This has passed.

[2017-09-06 18:30] #435 closed, assigned to nobody

[2017-09-06 18:31] foxish commented on #337
This is done and the artifact is uploaded to the JIRA.

[2017-09-06 18:31] #337 closed, assigned to nobody

[2017-09-06 18:32] foxish commented on #461
Makes sense, and seems to be one of the perils of building a fat jar. We should document this somewhere, but as you said, once it's upstreamed, this issue should pretty much vanish.

[2017-09-06 18:55] foxish commented on #441
Following up on the discussion today in the meeting, the questions we need to answer are:

**Test infrastructure**
- Discovery - What's the right place to run our integration tests? AMPLab Jenkins? Externally? - @ssuchter
- Current resource requirements & running tests in parallel. - @mccheah
- Can we run tests on an external k8s cluster (is this okay from the upstream perspective?) @ssuchter/@fox

[2017-09-06 20:59] mccheah commented on #482
Excellent - let's go with the headless service approach. I can propose a change.

[2017-09-06 21:09] mccheah commented on #482
Although using a service in general implies that DNS has to be running in the cluster for Spark to work. I think this is fine, as to my understanding most real clusters will have DNS. It's worth calling out in the documentation, however.

@foxish to clarify, does the hostname we should set for the driver's URL map to exactly the name of the service? What's the mapping from namespace + service name

[2017-09-06 23:17] ash211 commented on #480
This should be reproducible via setting `spark.kubernetes.executor.memoryOverhead=0` and running a shuffle

[2017-09-07 01:19] mccheah commented on #441
It's also good to document the changes that we want to include in upstream that we haven't merged into branch-2.2-kubernetes yet, including:

- Resilience to SPARK-21642 - #482, PR #483
- Move shuffle directory mounting for executors to a separate class - PR #454
- Unit tests for the scheduler backend - PR #459

Any other ones I'm missing?

[2017-09-07 01:39] varunkatta commented on #480
Driver couldn't learn the loss reason in this case (may be because of missed K8s events ?). I will try to repro this and share what we discover in the process.

[2017-09-07 02:12] duyanghao commented on #368
@erikerlandson i didn't enable `spark's dynamic allocation`.

seen from `kube-scheduler.ERROR` log:

[code]

there are not enough resources to allocate.

but still  `allocatorRunnable` should deal with this situation and report some errors when fail to create executor pods.

[2017-09-07 04:21] foxish commented on #478
Which kubectl version are you using? The flag may be available in a newer
version.

On Sep 6, 2017 9:03 PM, "Jimmy Song" <notifications@github.com> wrote:

[2017-09-07 04:33] rootsongjc commented on #478
[code]
I deleted the 1.5.5 version and reinstall kubecetl 1.6.0 after that it works.

[2017-09-07 16:30] foxish commented on #111
Reviving this issue. CRDs are now ready for consumption in Kubernetes 1.8. I'll be reworking @iyanuobidele's old PR and sending one using CRDs early next week. It'll be flag gated for now because using it in Kubernetes 1.7 and below has some issues, but should be fine 1.8+, but I'd like to get it upstreamed (but after the critical pieces are) because it adds some missing UX pieces.

cc @apache-spa

[2017-09-07 22:55] foxish opened #485 "Improve docker image build process"
The process of building the images and pushing them to a registry is rather hard, needing changes to the dockerfiles themselves.
We should have a simpler way using sbt, or some other package management tool to build and push all/a subset of images quickly.

cc @apache-spark-on-k8s/contributors

[2017-09-08 01:10] duyanghao commented on #368
@ash211 @erikerlandson i will close this issue since at the moment there is no better way to handle this situation than by avoiding it.

[2017-09-08 01:11] #368 closed, assigned to nobody

[2017-09-08 02:26] ash211 commented on #417
@weiting-chen do you need PV storage specifically, or would the `EmptyDir` from https://github.com/apache-spark-on-k8s/spark/pull/486 work for you?

I don't think you need persistence in static allocation mode, and dynamic allocation requires an external shuffle service which stores data in `spark.kubernetes.shuffle.dir`, not in `spark.local.dir`

[2017-09-08 02:36] ash211 commented on #260
Some work around these local directories used for shuffle data happening at https://github.com/apache-spark-on-k8s/spark/pull/486 to place shuffle data onto an EmptyDir instead of the root container volume.

It doesn't directly address this problem though, where local disk on a node is too small for the amount of shuffle data being written.  YARN has the same problem.

Even if we did have the link

[2017-09-08 07:20] duyanghao commented on #134
@varunkatta i will try with #459 merged,and will be feedback to you as soon(maybe with my self customization)

And Is the combination of #244 and `dynamic allocation` treated as the solution of #133?

[2017-09-08 07:34] duyanghao commented on #134
@varunkatta Also, another question bothers me is that some spark applications still can't recover for lots of reasons, such as data loss and so on, even though new executors have been produced. How about this problem? Is there any thoughts to solve this problem?

maybe it is a universal problem in spark(not only in `spark on k8s`),but we can still have a discussion here.

[2017-09-08 08:32] weiting-chen commented on #417
Yes, [#486](https://github.com/apache-spark-on-k8s/spark/pull/486) is enough for static mode.
Use PV storage doesn't make sense in spark.local.dir since the data is temporary and its life cycle comes with the executor pod.

[2017-09-08 10:13] rootsongjc commented on #478
@foxish @kimoonkim I build a new release on my local machine and submit a new job with it.
[code]
But I didn't build new images, is there a doc about how to build the new docker images?

[2017-09-08 16:38] foxish commented on #478
Only this https://apache-spark-on-k8s.github.io/userdocs/running-on-kubernetes.html#driver--executor-images.
We are working on making the building of images and pushing them easier. Tracked in https://github.com/apache-spark-on-k8s/spark/issues/485.

[2017-09-08 16:40] foxish commented on #153
We have CRD support in the fabric8 client. We don't need TPRs anymore.

[2017-09-08 16:40] #153 closed, assigned to nobody

[2017-09-08 16:53] kimoonkim commented on #260
I wonder if a pod can use multiple `emptyDir`s, each likely coming from a different physical disk in a round robin fashion. This way, if a cluster node has multiple disks, then the pod work dir won't be bounded by a single disk size.

I can also imagine that the cluster admin may do this in the logical volume manager layer so that k8s cluster nodes think each node has one very large logical volume

[2017-09-08 19:25] #482 closed, assigned to mccheah

[2017-09-08 23:29] ash211 commented on #232
@foxish probably can close this issue now that the release off the 2.2.0 branch is out?

[2017-09-08 23:29] ash211 commented on #262
@foxish probably can close this now that we have docs up on the separate repo and a fair amount of investment made in them?

[2017-09-08 23:29] ash211 commented on #4
@foxish probably can close this now that the beta is out?

[2017-09-08 23:42] ash211 opened #487 "Support running integration tests in CircleCI / TravisCI"
I was chatting with @mccheah and @jlz27 about what it would take for us to run integration tests in CircleCI, and Jason has a setup that works, minus one problem.

Roughly the setup is to use minikube in the `--vm-driver=none` mode and modify docker bridge settings so any docker images running in the circle container (Spark the repo doesn't have this, but we have many internal repos using docker-c

[2017-09-08 23:43] #232 closed, assigned to nobody

[2017-09-08 23:43] #262 closed, assigned to tnachen, foxish

[2017-09-08 23:43] #4 closed, assigned to erikerlandson, ash211, foxish, mccheah, iyanuobidele

[2017-09-08 23:43] mccheah commented on #487
I think the biggest benefit actually is just to remove the need to install a virtual machine on the upstream Spark's Jenkins nodes. Running Minikube on bare metal is much lighter weight than running Minikube inside a virtual layer.

[2017-09-12 02:50] tangzhankun commented on #449
@mccheah @erikerlandson sorry for the late reply. I agree that at lease an message on overwriting should be thrown out. I'll add a check later.

[2017-09-13 02:29] rootsongjc commented on #478
@foxish Every time when I submit a spark job to kubernetes I need to build a new docker image which has a jar file inside, that's such a hard way, we should figure out a easy way to simplify the process.

[2017-09-13 02:44] foxish commented on #478
@rootsongjc, have you tried using the resource staging server?

[2017-09-13 02:46] rootsongjc commented on #478
@foxish No I haven't use it.

[2017-09-13 02:48] foxish commented on #478
https://apache-spark-on-k8s.github.io/userdocs/running-on-kubernetes.html#dependency-management

[2017-09-13 04:00] duyanghao commented on #134
@varunkatta Merged already.

[2017-09-13 05:48] tangzhankun commented on #417
@ash211 @weiting-chen What determined the medium of emptydir by default?

[2017-09-14 07:52] duyanghao opened #489 "Add debugging tools in base image"
@mccheah At present, there are few tools in base image that we can use for debug, and the internal base tools like `ps`  and `top` could do little.

For instance, i want to list all threads of a process,which is pretty meaningful in java debug,but it becomes hard to achieve it as `top -Hp pid` and `ps -Lfp pid` are invalid in alpine.

So i guess we could add more powerful base tools(such as enhanc

[2017-09-14 21:24] foxish opened #490 "Move to init container fields from init container annotation"
This should be possible in our support window of [1.7, 1.8] once 1.8 is released.

[2017-09-15 03:41] ash211 commented on #489
@duyanghao what additional alpine packages would you find useful to include in the base image?

[2017-09-15 04:35] duyanghao commented on #489
@ash211 I've been looking at necessary and useful tools in `alpine` but unfortunately found nothing.

But i guess these tools should provide the basic functionality of debugging such as `listing all threads of a process`.

[2017-09-15 04:44] ash211 commented on #134
@duyanghao both of the PRs you linked have been merged (244 and 459).  Is there another code change (open pull request) you're talking about?

[2017-09-15 06:26] duyanghao commented on #134
@ash211 thanks, that all PRs.
But there is still one related issue(#133), and Is the combination of #244 and `dynamic allocation` treated as the solution of #133?

Addition:
@varunkatta @ash211 We can report related problems here in practical use since it has not been closed yet.

[2017-09-16 22:26] #339 closed, assigned to nobody

[2017-09-16 22:34] luck02 opened #494 "conf parameter spark.kubernetes.authenticate.driver.serviceAccountName doesn't seem to be respected"
Situation:
I have an AWS hosted k8s test cluster up and running, we're using it for integration tests for our regular environment.  It is, AFAIK, fully functional.

I have built a set of executor, driver, and spark-init images.

I can run my job on minikube where I don't need to mess with serviceAccounts.

In my test cluster however I do need to provide credentials or service accounts.

I am using

[2017-09-16 22:35] luck02 commented on #494
Ok, just found the commit from @kimoonkim and it's not in the release I'm using.

I'll build a new snapshot this evening.  Any chance of a new release coming soon?

[2017-09-17 05:42] luck02 commented on #494
Ok, that worked!

[2017-09-17 05:42] #494 closed, assigned to nobody

[2017-09-18 04:15] tangzhankun commented on #489
Add the debug script at the beginning to run these tools in the background is one side, on the other side, you may also need to leave the debug log in a host volume for future analysis.
I used to change the code to achieve this in order to debug an issue easily.

[2017-09-18 08:15] duyanghao commented on #489
@tangzhankun What we are talking about here is base-debug tool in `alpine`.

[2017-09-18 10:49] tangzhankun commented on #489
@duyanghao oh, sorry. I'm talking about when we got the tool, we also need a way to run it and persistent the log.

[2017-09-18 23:47] foxish opened #495 "Unit tests in SparkSubmitSuite"
https://github.com/apache-spark-on-k8s/spark/blob/branch-2.2-kubernetes/core/src/test/scala/org/apache/spark/deploy/SparkSubmitSuite.scala

[2017-09-18 23:48] foxish commented on #461
Closing this, as it was not an issue with the integration.

[2017-09-18 23:48] #461 closed, assigned to nobody

[2017-09-19 08:56] rootsongjc commented on #478
@foxish this problem solved, I think we can close the issue.

[2017-09-19 09:18] rootsongjc commented on #408
LGTM

Use these flag to specify which user to communicate with HDFS.
[code]

[2017-09-19 12:56] duyanghao opened #496 "spark task exit errors"
Sometimes, the `driver` exit with following error logs:
[code]

while some `executors` are reporting following logs:
[code]

[2017-09-20 08:24] duyanghao commented on #134
@ash211 @varunkatta Spark task still aborts with newly created executor as below:
`Step1`: Run the spark task normally
[code]

`Step2`: delete `executor 1`
[code]

`driver` aborts with following errors:
[code]

While `executor 3` reports following errors:
[code]

Attention:
`192.168.25.120` in the log is the `IP` of `executor 1`.

[code]

We can see that Job still aborts with the `executor 3` crea

[2017-09-20 09:10] foxish opened #499 "Cut a new Spark-Kubernetes 2.2 release"
Prerequisites:

1. [x] Finish the rename (https://github.com/apache-spark-on-k8s/spark/pull/497)
2. [x] Remove deprecated configuration now (https://github.com/apache-spark-on-k8s/spark/pull/501)
3. [x] Update RBAC documentation (https://github.com/apache-spark-on-k8s/spark/issues/500)
1. [x] Update poms for 2.2 release 0.4.0 (https://github.com/apache-spark-on-k8s/spark/pull/508)

Post release:

[2017-09-20 09:11] foxish commented on #496
@ash211, have you seen this error?

[2017-09-20 09:49] foxish commented on #441
@mccheah all of those have merged I think.

For the 2.3 code-freeze, this seems to me like a reasonable (maybe slightly ambitious) target -
I expect we can speed up after the first PR.

- [x] **PR 1**: Basic scheduler backend PR (https://github.com/apache-spark-on-k8s/spark/pull/498, https://github.com/apache/spark/pull/19468)
    - [x] Unit testing for executorpodfactory (https://github.com/apach

[2017-09-20 10:27] foxish opened #500 "Create RBAC role YAMLs and documentation"
We need RBAC roles associated with each component - shuffle service, RSS.
Also, need instructions to setup service accounts for driver and executor pods.

[2017-09-20 12:03] rootsongjc commented on #496
@duyanghao How do you submit the job? Can you attach the commands?

[2017-09-20 12:40] duyanghao commented on #496
[code]

[2017-09-20 12:41] duyanghao commented on #496
@rootsongjc

[code]

Nothing particularly !!!

[2017-09-20 12:51] rootsongjc commented on #133
@duyanghao  Although spark on yarn is more mature but its scheduler on kubernetes with two layer, that makes a low resource utilization and hard to manage.

[2017-09-20 12:53] rootsongjc commented on #496
https://github.com/rootsongjc/kubernetes-handbook/blob/master/usecases/running-spark-with-kubernetes-native-scheduler.md How I run spark on kubernetes didn't see your errors.

[2017-09-20 13:07] duyanghao commented on #496
@rootsongjc so what do you mean by this?

Is there anything wrong with the `submit command`?

[2017-09-20 13:09] rootsongjc commented on #496
Could you illustrate your kubernetes cluster environment especially the networking plan? I can't figure out what's wrong in your command.

[2017-09-20 13:17] duyanghao commented on #496
@rootsongjc  I don't think that's the main point of this error. After all, hundreds of tasks are running in my cluster.

And i do think it is the logic bug of `spark on k8s` from the log.

[2017-09-20 13:50] duyanghao commented on #133
@rootsongjc

Surely it is.

But you don't get the point of my view. What I would like to declare here is that **we can redesign or enhance Schedule Management** of `spark on k8s` through references to `spark on yarn`.

[2017-09-20 14:02] rootsongjc commented on #133
@duyanghao  Got it, that's a really needed feature.

[2017-09-20 14:13] duyanghao commented on #133
@rootsongjc Indeed, and #134 is working on this problem.

[2017-09-20 18:09] erikerlandson commented on #441
Per 9/20 sig meeting, move docker images up to after PR2.  Also, annotate that Pr3 (submission steps) will be partly component of PR2.

In general, I'd expect that specific submission steps would be added along with whatever components they're associated with.  The basic submission step architecture would land with PR2.

[2017-09-20 22:39] liyinan926 commented on #500
@foxish @kimoonkim Regarding RBAC roles for the RSS and shuffle service, is there any customization needed or they are well taken care of by the default role/service account used by the pods of them? AFAIK, none of them need write access the API server. Correct me if I'm wrong.

[2017-09-21 13:48] ssaavedra commented on #461
Sorry about the later lack of engagement. I can put this on the documentation if you think it's ok. I can send you a PR about that next week.

[2017-09-21 15:28] kimoonkim commented on #500
One thing that jumps out to me. The shuffle service relies on `HostPath` volumes, which is not necessarily available to all pods. There is `PodSecurityPolicy` that can be used together with RBAC to allow the access. For details, see this [doc]( https://github.com/kubernetes/examples/blob/master/staging/podsecuritypolicy/rbac/README.md). So I think we should address PSP RBAC rules. I'll be happy to

[2017-09-21 17:43] liyinan926 commented on #500
@kimoonkim I also found this [doc](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/), which also seems related.

[2017-09-22 00:20] kimoonkim commented on #500
Ah. That doc seems very relevant. Thanks for sharing it!

[2017-09-22 04:33] duyanghao commented on #134
@mccheah Any suggestions for this problem?

[2017-09-22 09:37] #478 closed, assigned to nobody

[2017-09-22 17:03] kimoonkim commented on #500
Probably not the scope of this issue. But I was wondering if we should also think about human accounts and the role bindings they need to run Spark jobs and these other services.

I am personally using the cluster admin account for myself, but not every user will have access to that in a large org.

[2017-09-22 17:16] liyinan926 commented on #500
I agree that we should think about non-admin user account, which is likely much more common in production environment in large clusters.

[2017-09-22 23:00] luck02 opened #504 "can't find snappy lib"
I built off the 2.2 branch.  Works great until it tries to write to parquet files.

Then it can't seem to initialize / find org.xerial.snappy.Snappy.  I see snappy in the jars directory of the spark distro.  My endpoint is `s3a:\bucket\etc` and I've included the following jars.
[code]
I'm not sure if this is something odd in spark distro or if I'm doing something odd.

Thanks!

I can provide the f

[2017-09-22 23:03] foxish commented on #504
Botched dependencies? Hmm..

@ash211 @mccheah seen this?

[2017-09-22 23:06] luck02 commented on #504
[code]

I *think* the snappy deps are there.  I'll take a peek at the dockerfiles
--edit-- yah, they copy the whole jars directory.

[2017-09-22 23:14] mccheah commented on #504
Can you post the result of `kubectl describe pod <driver>` and `kubectl describe pod <executor>`?

[2017-09-22 23:25] luck02 commented on #504
driver output
[code]

executor:
[code]

[2017-09-23 05:06] luck02 opened #505 "using resource staging server - driver unable to load config map or secret"
I get this result when trying to initialize the driver:

`MountVolume.SetUp failed for volume "spark-init-properties" : configmaps "kmderived-1506142014799-init-config" not found`

[code]

[code]
This config map does exist, same situation with the secret.

Also, the spark submit call hangs for quite awhile:
[code]

Note the nearly 2 minutes between the last set and the pod status updates?  Is that

[2017-09-23 05:18] luck02 commented on #505
Is it possible it's a race condition where the pod gets created before the configmap and secret?

The pod is created             @   "creationTimestamp": "2017-09-23T05:02:36Z"
The config map is created @   "creationTimestamp": "2017-09-23T05:02:37Z"
The secret is created         @   "creationTimestamp": "2017-09-23T05:02:36Z"

I'm not sure what the initialization looks like for this,  IE will the

[2017-09-23 17:03] erikerlandson opened #506 "add spark R support"
This is an issue for tracking sparkR support

[2017-09-23 17:06] erikerlandson commented on #506
cc @ifilonenko

[2017-09-23 19:21] luck02 commented on #505
I'm just digging around in the spark submit code, trying to figure out what the interplay between the staging server and the pod scheduling is.  Looks like everyone is busy trying to merge upstream (Which is awesome!)

[2017-09-24 03:45] amitkumarj441 commented on #506
Thanks @erikerlandson for starting this issue. I'm willing to take up this task.

[2017-09-24 10:50] ash211 commented on #504
Hmm I haven't seen this, and we've been reading/writing parquet with Spark in k8s.  Have you confirmed that class `org.xerial.snappy.Snappy` is in that snappy-java jar?

[2017-09-24 15:55] ifilonenko commented on #499
SparkR support into this new release, as we push upstream?

[2017-09-24 15:56] ifilonenko commented on #495
I'lll handle this one

[2017-09-24 16:52] luck02 commented on #504
@ash211  you're right it's not there.

Missing / broken snappy jar.

I built this off off the tip of 2.2 branch
[code]

So could be my build command was incorrect or there could be some issue in the branch.

Here was my build command:
[code]

I got that from: https://github.com/apache-spark-on-k8s/spark/issues/438

The reason I'm building my own is listed here: https://github.com/apache-spark-on-k

[2017-09-24 17:23] foxish commented on #499
I think it would be the next one.  These are pretty separate and a release
is long overdue. The plan was to cut the release today - was doing some
manual testing. Should be able to tag the branch and start merging other
stuff in right after.

On Sep 24, 2017 8:55 AM, "Ilan Filonenko" <notifications@github.com> wrote:

[2017-09-24 22:34] #500 closed, assigned to liyinan926

[2017-09-25 00:45] foxish opened #509 "Update integration testing to match new package name k8s"
From https://github.com/apache-spark-on-k8s/spark/pull/497#issuecomment-331751032

cc/ @ifilonenko

[2017-09-25 00:49] foxish commented on #509
@ifilonenko, only the integration tests need the update as far as I checked. Correct?

[2017-09-25 01:11] ifilonenko commented on #509
Unit tests don't have wildcard because they run complete unit tests, so yes, I believe so

[2017-09-25 02:12] luck02 commented on #504
Sorry, I didn't realize there were two snappy jars in there and inspected the wrong one (IE snappy0.2.jar)

This appears to be correct:
snappy-java-1.1.2.6.jar

[2017-09-25 02:31] luck02 commented on #504
Looks like everything is present on the executors:

[2017-09-25 03:15] luck02 commented on #504
Huh, also when I expose the spark UI I see this in the 'environment variables':

[code]

[2017-09-25 03:49] luck02 commented on #505
hrm.  I tweaked my setup a bit.

I baked my jars into the images (which makes more sense anyways).  Submission is now very fast, which is great but still the same error.

pod can't mount configmap or secret.

[code]

And results are:

Manually confirmed that config map does exist.   My working theory is some sort of race condition.

In addition the secrets and configmaps are _not_ cleaned up.  So